doctype html
html
  head
    link href=asset_path('favicon.png') rel= "icon" type= "image/png"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
    title = content_for?(:title) ? "#{app_name}: #{yield(:title)}" : app_name
    = stylesheet_link_tag "application", media: 'all',
        "data-turbolinks-track" => true
    = javascript_include_tag "application", media: 'all',
        "data-turbolinks-track" => true
    = render '/layouts/shared/ie'
    = analytics_init if Rails.env.production?
    = csrf_meta_tags
  body[class="#{params[:controller].parameterize.dasherize}-c \
              #{params[:action].parameterize}-a"
       data-c=params[:controller].parameterize
       data-a=params[:action].parameterize
      data-spy="scroll"
      data-target=".sidenav"]
    header == render 'layouts/application/navigation'
    main role="main"
      #load-screen
        img.loader src="#{image_path('loader.gif')}"
      == render_wishart_notices
      == render '/layouts/application/messages'
      == yield
    footer
      = wishart_support_2
