<h3>November 5, 2009</h3>
<ul>
  <li>
    The <a href="release_notes">release notes</a> for version 2.5 of the Human Metabolome Database are now available.  Additionally, version 2.0 of the HMDB downloads have been 
    <a href="downloads">archived</a>.
  </li>
</ul>

<h3>October 15, 2009</h3>
<ul>
  <li>
    Version 1.0 of the HMDB has finally been taken offline.  All files which were available for download from version 1 are available in
    the <a href="downloads">downloads</a> section.  Links to version 1 will redirect to the current version of the HMDB.
  </li>
</ul>

<h3>September 21, 2009</h3>
<ul>
  <li>
    Each metabolite page now contains a link to the associated <a href="http://www.nugowiki.org/index.php/Main_Page">NuGOwiki</a> page:
    <blockquote style="background: #D1D1D1; padding: 0.6em; font-style:italic">&#147;The Nutritional Metabolomics Database is a global open-source library of small molecules for use in human nutrition metabolomics, as part of the NuGO Metabolomics Initiative.&#148;</blockquote>
  </li>
  <li>
    <a href="path_browse">PathBrowse</a> and the associated HMDB pathways have been updated to automatically highlight
    the given metabolite in a pathway.  For example, see the 
    <a href="public/downloads/pathways/Alanine_And_Aspartate_Metabolism_a.html?hmdb_id=HMDB00962">Alanine and aspartate metabolism pathway with <strong>Lipoamide</strong> highlighted</a>.
    Pathways have also been unified so that the pathways from the HMDB, KEGG, and SimCell all match for each metabolite.
  </li>
</ul>

<h3>January 9, 2009</h3>
<ul>
  <li>
    Comments are now being exported with each concentration value.  This allows our researchers to add pertinent information
    that may not belong in the other fields for a given concentration value.  For example, see the comments section for the
    concentrations in the <a href="metabolites/HMDB11134">metabocard for 5-HETE (HMDB11134)</a>.
  </li>
</ul>

<h3>November 1, 2008</h3>
<ul>
  <li>
    <p>
      HMDB &ndash; Version 2.0 has just been released! The latest release of the HMDB now has detailed information on 6534 
      experimentally confirmed metabolites, representing an expansion of nearly 300% over version 1.0.  Currently about 
      60% of the metabolites in the HMDB have been identified or confirmed by the HMDB's team of analytical chemists 
      using NMR, LC-MS or GC-MS methods applied to a variety of human biofluids.  Likewise, approximately 45% of the 
      metabolites in the HMDB have been identified and archived through literature surveys or electronic data mining.
    </p>
    <p>
      In addition to substantially increasing the number of metabolite entries we have also increased the completeness 
      of the HMDB's annotations for hundreds of metabolites by adding many more detailed compound descriptions, 
      including more synonyms (10% increase), doubling the number of compounds with NMR and MS spectra, tripling the 
      number of compounds with biofluid concentration data and increasing the number of compounds with synthesis records 
      by a factor of six.
    </p>
    <p>
      Thanks to the feedback provided by HMDB's user community, a number of new data fields have been added to each 
      MetaboCard in order to facilitate certain types of queries or comparisons.  These include Chemical Source 
      information (endogenous vs. exogenous), Physiological Charge, Experimental and Predicted logP, HMDB Pathway 
      Images, General Metabolite References and Macromolecular Interacting Partners.  New data fields have also been 
      added for the BiGG database, Wikipedia and METLIN while extra data fields for GeneCard IDs, GeneAtlas IDs and 
      HGNC IDs have been added for each of the corresponding enzymes.  In addition to these changes, new data fields 
      for NMR assignment files (both <sup>1</sup>H and <sup>13</sup>C) in the BMRB NMR* exchange format have been 
      inserted as well as data fields for experimental <sup>1</sup>H-<sup>13</sup>C HSQC Spectra, Simplified TOCSY 
      Spectra and BMRB TOCSY Spectra.
    </p>
    <p>
      We believe that one of the more important improvements to the HMDB concerns the addition of nearly 60 hand-drawn, 
      zoomable, fully hyperlinked human metabolic pathway maps.  Unlike most on-line metabolic maps, these HMDB pathway 
      maps are quite specific to human metabolism and explicitly show the subcellular compartments where specific 
      reactions are known to take place.  All chemical structures in these pathway maps are hyperlinked to HMDB 
      MetaboCards and all enzymes are hyperlinked to UniProt data cards for human enzymes.
    </p>
  </li>
</ul>
