<h3>September 15, 2012</h3>
<ul>
  <li>
    The <a href="release-notes">release notes</a> for version 3.0 of the Human Metabolome Database are now available.  Additionally, version 2.5 of the HMDB downloads have been 
    <a href="downloads">archived</a>.
  </li>
</ul>
