<p>The <%= @biofluid_name %> Metabolome Database is offered to the public as a freely available resource. Use and re-distribution of the data, in whole or in part, for commercial purposes requires explicit permission of the authors and explicit acknowledgment of the source material 
(<%= @biofluid_name %> Metabolome Database) and the original publication (see below). We ask that users who download significant portions of the database cite the <%= @biofluid_name %> Metabolome Database paper in any resulting publications.</p>