.alert.alert-citation
  p #{glyphicon(:'warning-sign')} The #{@biofluid_name} Metabolome Database is offered to the public as a freely available resource. Use and re-distribution of the data, in whole or in part, for commercial purposes requires explicit permission of the authors and explicit acknowledgment of the source material (#{@biofluid_name} Metabolome Database) and the original publication (see below). We ask that users who download significant portions of the database cite the #{@biofluid_name} Metabolome Database paper in any resulting publications.

  =link_to "How to cite the #{@biofluid_name} Metabolome Database", biofluid_app.home_url
