.alert.alert-citation
  p #{glyphicon(:'warning-sign')} The #{@biofluid_name} Metabolome Database is offered to the public as a freely available resource. Use and re-distribution of the data, in whole or in part, for commercial purposes requires explicit permission of the authors of HMDB and explicit acknowledgment of the source material.