<p>
  The <%= @biofluid_name %> Metabolome database is integrated into the 
  <%= link_to 'Human Metabolome Database (HMDB)', Rails.application.config.url %>, 
  allowing users to browse the data in different 
  views, Metabolites, Concentrations and Diseases. Users can see the basic 
  information of the compounds, the concentrations of the compounds and 
  the conditions associated with these concentrations. The Human Metabolome 
  Database also supports extensive text,
  <%= link_to "sequence", main_app.seq_search_path %>, 
  <%= link_to "chemical structure", moldbi.search_structure_path(resource: :metabolites), 'data-no-turbolink' => true %> and
  <%= link_to "relational query", unearth.search_path(index: 'metabolites') %>
  searches. The <%= link_to "Download button", main_app.downloads_path %>
  provides links to collected sequence, image and text files.
</p>
<p>
  The <%= @biofluid_name %> Metabolome database is supported by David Wishart, Departments 
  of Computing Science &amp; Biological Sciences, University of Alberta.
</p>
<p>
  The <%= @biofluid_name %>  Metabolome database is also supported by 
  <%= link_to "The Metabolomics Innovation Centre", "http://www.metabolomicscentre.ca/" %>,
  a <%= link_to "Genome Canada-funded", "http://www.genomecanada.ca/" %> core facility serving the scientific 
  community and industry with world-class expertise and cutting-edge technologies.
</p>
