.page-header: h1
  - if @biofluid_name.present?
    = title("Browsing #{@biofluid_name} Metabolite Concentrations")
  - else
    = title 'Browsing Biofluids'

= render_filter_bars
= extractable_form if params.include?(:extract)

= concentration_details_modal
= render '/biofluids/shared/link_out_hint' if @biofluid_source.present?
= db_paginate @metabolites
#concentrations
  - @metabolites.each do |metabolite|
    .panel.panel-default
      .panel-heading: strong
        ' #{metabolite.name} (#{bio_link_out(:hmdb, metabolite.hmdb_id, nil, target: '_blank')})
      .panel-body
        table.table.table-striped.table-condensed.datatable
          thead
            th.biofluid-head Biofluid
            th.concentration-head Concentration
            th.status-head Patient Status
            th.conditions-head Conditions
            th.age-head Age
            th.sex-head Sex
            th.ref-head Reference
            th.details-head Details
          tbody
            - metabolite.concentrations.each do |concentration|
              tr
                td = concentration.biofluid
                td = humanized_concentration_value(concentration)
                td = nah concentration.patient_status
                td = nah concentration.conc_condition
                td = nah concentration.age
                td = nah concentration.sex
                td = concentration_table_references(concentration)
                td = link_to_concentration_details(concentration)

= db_paginate @metabolites
