.page-header: h1
  - if @biofluid_name.present?
    = title("Browsing #{@biofluid_name} Metabolite Diseases and Conditions")
  - else
    = title 'Browsing Diseases and Conditions'

= concentration_details_modal
= render_filter_bars
= render '/biofluids/shared/link_out_hint'
= db_paginate @diseases
#diseases 
  - @diseases.each do |disease|
    .panel.panel-default
      .panel-heading: strong
        = disease.name
        - if disease.omim_id.present?
          ' &nbsp; (#{bio_link_out :omim, disease.omim_id})
      .panel-body
        table.table.table-striped.table-condensed.datatable
          thead
            th.metabolite-head Metabolite
            th.concentration-head Concentration in #{@biofluid_name}
            th.status-head Patient Status
            th.age-head Age
            th.sex-head Sex
            th.ref-head Reference
            th.details-head Details
          tbody
            - disease.concentrations.each do |concentration|
              - next if concentration.metabolite.nil?
              - metabolite = concentration.metabolite
              tr
                td 
                  = bio_link_out :hmdb, metabolite.hmdb_id, 
                      "#{metabolite.name} (#{metabolite.hmdb_id})", target: '_blank'
                td= humanized_concentration_value(concentration)
                td= nah concentration.patient_status
                td= nah concentration.age
                td= nah concentration.sex
                td= concentration_table_references(concentration)
                td = link_to_concentration_details(concentration)

= db_paginate @diseases
