.page-header: h1 = title("Downloads")
- if @biofluid_name.downcase == "sweat"
    = render "biofluids/shared/download_terms_sweat"
- else
    = render "biofluids/shared/download_terms"

h2 Metabolite Data (in XML format)
table.table-standard
  thead
    tr
      th Data Set
      th.release-col Released on
      th.download-col XML File
  tbody
      td All #{@biofluid_name} Metabolites
      td = nah download_created_at("#{@biofluid_name.downcase}_metabolites.zip")
      td = link_to 'Download', biofluid_app.download_link("#{@biofluid_name.downcase}")


h2 Structures (in SDF format)
table.table-standard
  thead
    tr
      th Data Set
      th.release-col Released on
      th.download-col SDF File
  tbody
      td All #{@biofluid_name} Metabolite Structures
      td = nah download_created_at("#{@biofluid_name.downcase}_metabolites_structures.zip")
      td = link_to 'Download', biofluid_app.download_link_bio_structures("#{@biofluid_name.downcase}")
