.page-header: h1
  - if @biofluid_name.present?
    = title("Browsing #{@biofluid_name} Metabolites")
  - else
    = title 'Browsing Metabolites'

= render_filter_bars

= render '/biofluids/shared/link_out_hint'
= db_paginate @pagination_scope
.table-responsive
  table.table.table-striped.table-condensed.table-hover
    thead
      = render '/metabolites/header'
    tbody
      = render partial: '/metabolites/metabolite', 
          collection: @table_scope,
          locals: { biofluid: @biofluid_source }
= db_paginate @pagination_scope
