.page-header: h1 = title("#{@biofluid_name} Metabolome Statistics")

- cache ['biofluid-stats', @biofluid_name], expires_in: (Time.now.end_of_day - Time.now) do
  h2 Metabolite Statistics
  table.biofluid-statistics
    tbody
      tr
        th Total Metabolites
        td= @stats.total_metabolites_count
      tr
        th Total Proteins
        td= @stats.protein_count
      tr
        th Number of Metabolites that are <strong>Quantified And Detected</strong>
        td= @stats.total_quantified_count
      tr
        th Number of Metabolites that are <strong>Detected But Not Quantified Metabolites</strong>
        td= @stats.total_detected_count
      tr
        th Number of Metabolites that are <strong>Expected</strong>
        td= @stats.total_expected_count
      tr
        th Endogenous Metabolites
        td= @stats.endogenous_metabolites_count
      tr
        th Exogenous Metabolites
        td= @stats.exogenous_metabolites_count

  h2 Metabolite Concentration Statistics
  table.biofluid-statistics
    tbody
      tr
        th Total Number of Concentrations
        td= @stats.total_concentration_count
      tr
        th Number of Conditions with Concentrations
        td= @stats.condition_count
      tr
        th Number of Concentrations for Abnormal Conditions
        td= @stats.total_abnormal_concentration_count
      tr
        th Number of Concentrations for Normal Condition
        td= @stats.total_normal_concentration_count
      tr
        th Number of Concentrations From References
        td= @stats.total_referenced_concentrations

  h2 Metabolite Link-out Statistics
  table.biofluid-statistics
    tbody
      tr
        th Chemspider Link Count
        td= @stats.chemspider_link_count
      tr
        th Pubchem Compound Link Count
        td= @stats.pubchem_compound_link_count
      tr
        th KEGG Compound Link Count
        td= @stats.kegg_compound_link_count
      tr
        th KEGG Pathway Link Count
        td= @stats.kegg_pathway_link_count
      tr
        th CHEBI Compound Link Count
        td= @stats.chebi_compound_link_count
      tr
        th Wikipedia Link Count
        td= @stats.wikipedia_link_count
