- @searches.each.with_index do |search,index|
  - query_mass = search.query_mass
  - index += 1
  .panel.panel-default.ms-search-result
    .panel-heading
      .pull-right: small
        | #{glyphicon('info-sign')} Delta = (abs(query mass - adduct mass)/adduct mass)*1000000
      strong MS search for #{search.query_mass} m/z

    .panel-body
      div[id="ms_search_#{index}" class="ms-search-table"
          data-compounds-path="#{url_for([main_app, specdb_config(:compound_class)])}"
          data-mode=params[:mode]
          data-tolerance=params[:tolerance]
          data-database=@database
          data-query-mass=search.query_mass]
        - if search.results.present?
          table.table.table-condensed
            thead
              th Compound
              th Name
              th Structure
              th Formula
              th Monoisotopic Mass
              th Adduct
              th Adduct M/Z
              th Delta (ppm)
            tbody
              - search.results.each do |r|
                - next if r.compound.nil?
                tr
                  td
                    / = r.compound_id
                    / - db_name = Source.where(  
                    = link_to r.compound_id, bio_url(params[:query_organism].downcase, r.compound_id),
                      class: "btn"
                  td = r.name
                  td style="width: 10%;"
                    = moldb_thumbnail(r.compound_id)
                  td = r.formula
                  td = convert_to_signf(r.compound_mass)
                  td = r.adduct
                  td 
                    = convert_to_signf(r.adduct_mass)
                    = render "/specdb/mzcal/calculator_details_modal"
                    /br
                    /= link_to_calculator_details(r.compound, r.formula)
                  td = convert_to_ppm(r)         
        - else
          .alert.alert-warning No results for this query mass
