.page-header: h1 = title 'MS Spectral Annotation'

- if params[:commit].present?
  = form_toggler

.specdb-search-form class=(params[:commit].present? ? 'collapse' : '')
  = form_tag ms_search_path,
      { id: 'ms-search-form', class: 'form-horizontal' } do
    .form-group
      = label_tag :query_organism, 'Organism', class: 'col-sm-3'
      .col-sm-4
        = select_tag :query_organism,
        options_for_select({ 'Homo Sapiens' => "HMDB", 'Escherichia coli' => "M2MDB", 'Saccharomyces cerevisiae' => "YMDB", 'Arabidopsis thaliana' => "SMPDB"}, params[:query_organism]),
      { class: "form-control" }
    hr
    .form-group
      = label_tag :query_masses, 'Query Masses (Da)', class: 'col-sm-3'
      .col-sm-4
        .help-block Enter one mass per line (maximum #{Specdb::MsController::LIMIT_PEAK_COUNT} query masses per request)
        = text_area_tag :query_masses, params[:query_masses],
            class: 'form-control', rows: '10'
    hr
    .form-group
      = label_tag :mode, 'Ionization', class: 'col-sm-3'
      .col-sm-2
        = label_tag :ms_search_ion_mode, "Ion Mode",
            class: "control-label secondary-label"
        = select_tag :ms_search_ion_mode,
            options_for_select({ 'Positive' => "positive", 'Negative' => "negative", 'Neutral' => 'neutral'}, params[:ms_search_ion_mode]),
            { class: "form-control" }
      .col-sm-4
        - adducts = selected_adducts(params[:adduct_type],
                                     params[:ms_search_ion_mode])
        = label_tag :adduct_type, "Adduct Type",
            class: "control-label secondary-label"
        = select_tag :adduct_type, adducts,
              {multiple: true, class: "form-control ion-select",
               'data-positive-adducts' => @positive_adducts.to_json,
               'data-negative-adducts' => @negative_adducts.to_json,
               'data-neutral-adducts' => @neutral_adducts.to_json,
               'data-remember-selected' => params[:adduct_type]}
        .help-block
          ' Hold Ctrl (
          = image_tag 'specdb/windows_logo.svg', class: 'windows-logo'
          '  ) or Command (
          = image_tag 'specdb/apple_logo.svg', class: 'mac-logo'
          '  ) to select multiple adducts
    hr
    .form-group
      = label_tag :tolerance, 'Molecular Weight Tolerance ±', class: 'col-sm-3'
      .col-sm-6
        = text_field_tag :tolerance, params[:tolerance], class: 'form-control faux-inline'
        = select_tag :tolerance_units,
            options_for_select(['Da', 'ppm'], params[:tolerance_units]),
            { class: "form-control faux-inline" }

    - if lookup_context.find_all("/specdb/search/ms/_filter").any?
      = render "/specdb/search/ms/filter"

    hr
    .form-group
      .col-sm-offset-3.col-sm-5
        = submit_tag 'Go', class: 'btn btn-primary search-loader'
      .col-sm-2
        = link_to "Load Example", "#", class: "btn btn-success example-loader", 'data-no-turbolink': true, 'data-example': "'" + (render '/specdb/search/examples/ms.json').html_safe + "'"

- if params[:commit].present?
  hr
  - if @searches.present?
    #ms-export-csv.pull-right
      = form_tag "http://specdb.wishartlab.com/ms/search.csv",
          class: "button_to" do |f|
        - @search_params.each do |key,value|
          = hidden_field_tag key, value
        = hidden_field_tag "database", specdb_config(:accessor_database_name)
        = submit_tag "Download Results As CSV", class: 'btn btn-primary btn-xs'
  h2#results Search Results
  - if @searches.present? && @custom_results_path.present?
    = render @custom_results_path
  - elsif @searches.present?
    = render "results"
  - else
    .no-results Enter at least one query mass to get a result.
