tr
  td = concentration.biofluid
  td = concentration.status
  td = humanized_concentration_value(concentration)
  td.age = nah concentration.age
  td.sex = nah concentration.sex
  td
    - if concentration.export_comment? && concentration.comment.present?
      .comment-icon title=concentration.comment data-toggle='tooltip' 
        = glyphicon(:comment)
    = nah concentration.conc_condition
  td
    = concentration_details_modal
    ul.list-unstyled
      = nah concentration_table_references(concentration)
  td.details
    = link_to_concentration_details(concentration)
