td.data-table-container
  table.table.table-condensed.table-striped.concentrations
    thead
      tr
        th.biofluid-header Biofluid
        th.status-header Status
        th.value-header Value
        th.age-header Age
        th.sex-header Sex
        th.condition-header Condition
        th.reference-header Reference
        th.details-header Details
    tbody
      = render partial: "/metabolites/concentration",
          collection: concentrations,
          locals: { category: type }
