- filters = params.slice(:ex,:dn,:dq).keys
- filter_phrases = { ex: "Expected but not quantified",
                     dn: "Detected but not quantified",
                     dq: "Detected and quantified" }

- unless filters.empty?
  #filter-info
    ' Displaying metabolites with #{"status".pluralize(filters.length)}: 
    span = filters.map{|f| filter_phrases[f.to_sym] }.join(", ")
