tr
  th
    = table_sort_link 'HMDB ID', :hmdb_id
    br
    = 'CAS Number'
  th = table_sort_link 'Name', :name
  th Structure
  th
    | Formula
    br
    = table_sort_link 'Average Mass', :moldb_average_mass
    br
    = table_sort_link 'Monoisotopic Mass', :moldb_mono_mass
  th Biofluid Location
