- jumps = %w{ identification taxonomy ontology physical_properties spectra biological_properties concentrations links references }
#jumper.metabolite
  .section-jumps
    .btn-group.btn-group-sm role='group'
      - jumps.each do |section|
        = link_to section.humanize, "##{section}", class: 'btn-jump'
      - MetaboliteProteinLink.types.each do |type|
        - if metabolite.send(type.pluralize).present?
          = link_to "#{type.pluralize} (#{metabolite.send(type.pluralize).size})",
              "##{type.pluralize}",
              class: "btn-jump btn-#{type.pluralize} btn-affixed-inline-jump"
      - if metabolite.proteins.exported.present?
        = link_to metabolite_metabolite_protein_links_path(metabolite),
            class: 'btn-jump btn-affixed-inline-jump' do
          | #{glyphicon('th-list')} Show 
          | #{pluralize(metabolite.proteins.exported.count, 'protein')}
      = link_to "XML", metabolite_path(metabolite, format: :xml),
          target: '_blank', class: 'btn-jump'

  .section-affixed-hidden.pull-right
    - if metabolite.has_structure?
      = moldb_link_to_similarity(metabolite, 'Metabolites')
  .section-affixed-hidden
    .btn-group role='group'
      - MetaboliteProteinLink.types.each do |type|
        - if metabolite.send(type.pluralize).exported.present?
          = link_to "#{type.pluralize} (#{metabolite.send(type.pluralize).size})",
              "##{type.pluralize}",
              class: "btn btn-xs btn-default btn-#{type}"
      - if metabolite.proteins.exported.present?
        = link_to metabolite_metabolite_protein_links_path(metabolite),
            class: 'btn btn-xs btn-primary' do
          | #{glyphicon('th-list')} Show 
          | #{pluralize(metabolite.proteins.exported.count, 'protein')}
