- protein_count = @metabolite.proteins.exported.count
- if protein_count > MetabolitesController::MAX_PROTEINS
  .alert.alert-block.alert-danger.container-fluid
    p.col-md-10
      ' #{glyphicon('exclamation-sign')} Only showing the first 
      ' #{MetabolitesController::MAX_PROTEINS} proteins. There 
      ' are <strong>#{protein_count} proteins</strong> 
      ' in total.
    .col-md-2
      = link_to "Show all enzymes and transporters", 
          metabolite_metabolite_protein_links_path(@metabolite),
          class: 'btn btn-primary btn-xs'
