- biofluid ||= nil
- biofluid_cache_key = biofluid || 'all'
- cache [metabolite, biofluid_cache_key.parameterize, 'biofluid-locations-list'] do
  tr
    td.metabolite-link
      - if biofluid.present?
        = bio_link_out :hmdb, metabolite.hmdb_id, nil,
            class: 'btn-card', target: '_blank'
      - else
        = link_to metabolite.hmdb_id, metabolite, class: 'btn-card'
      .cas = metabolite.cas
    td.metabolite-name
      strong
        - if biofluid.present?
          = bio_link_out :hmdb, metabolite.hmdb_id, metabolite.name, target: '_blank'
        - else
          = link_to metabolite.name, metabolite
    td.metabolite-structure = moldb_thumbnail(metabolite)
    td.weight-value
      = nah html_formula(metabolite.chemical_formula)
      br
      br
      = nah metabolite.moldb_average_mass
      br
      = metabolite.mono_mass
    td
      ul.list-unstyled
        - metabolite.biofluid_locations.each do |bf|
          li
            - if biofluid.present? && bf == biofluid
              strong.text-success = bf
            - else
              = bf
