- if @metabolite.ontology.present? && @metabolite.ontology.origin.present?
  - @metabolite.ontology.origins.each do |origin|
    - if origin.include?('Endogenous')
      span[title="Endogenous metabolite is a metabolite that are synthesized by the enzymes encoded by our genome or our microfloral genomes."]
        = nah list(origin)
    - elsif origin.include?('Food')
      span[title="Food metabolite is a metabolite coming from food."]
        = nah list(origin)
    - elsif origin.include?('Microbial')
      span[title="Microbial metabolite is a metabolite coming from microbes."]
        = nah list(origin)
    - elsif origin.include?('Drug')
      span[title="Drug metabolite is a metabolite coming from drugs."]
        = nah list(origin)
    - elsif origin.include?('Plant')
      span[title="Plant metabolite is a metabolite coming from plants."]
        = nah list(origin)
    - elsif origin.include?('Cosmetic')
      span[title="Cosmetic metabolite is a metabolite coming from cosmetics."]
        = nah list(origin)
    - elsif origin.include?('Toxin/Pollutant')
      span[title="Toxin/Pollutant metabolite is a metabolite coming from toxin/pollutant."]
        = nah list(origin)
- else
  = nah
