table.table.table-condensed.table-striped
  th Name
  th SMPDB/Pathwhiz
  th KEGG
  tbody
    - if @pathways.blank?
          = nah
    - else
      - @pathways.each do |p|
        tr
          td = nah p.name
          td
            - if p.smpdb_id.present? && p.pathwhiz_id.present?
              = link_to image_tag(bio_url(:pathwhiz_thumb, p.pathwhiz_id), class: 'img-thumbnail'),
              bio_url(:smpdb, p.smpdb_id),
              target: '_blank'
              = link_to image_tag(bio_url(:pathwhiz_thumb_greyscale, p.pathwhiz_id), class: 'img-thumbnail'),
              bio_url(:smpdb_greyscale, p.smpdb_id),
              target: '_blank'
              = link_to image_tag(bio_url(:pathwhiz_thumb_simple, p.pathwhiz_id), class: 'img-thumbnail'),
              bio_url(:smpdb_simple, p.smpdb_id),
              target: '_blank'
            - elsif p.smpdb_id.present?
              = link_to p.smpdb_id, bio_url(:smpdb, p.smpdb_id) + "?highlight[compounds][]=#{@metabolite.hmdb_id}", class: 'link-out'
            - else
              = nah
          td
            - if p.kegg_id.present?
              = link_to image_tag(bio_url(:kegg_map_thumb, p.kegg_id.gsub('map','hsa')), class: 'img-thumbnail'), bio_url(:kegg_map, p.kegg_id.gsub('map','hsa')), target: '_blank'
            - else
              = nah
= paginate @pathways, :param_name => 'pathways', :remote => true
