tr
  td Blood
  td #{predicted_concentration.value} #{predicted_concentration.units}
  td.age = nah predicted_concentration.original_age
  td.sex = nah predicted_concentration.original_sex
  td = nah predicted_concentration.original_conditions
  - if predicted_concentration.comments.present?
    - comments = truncate(predicted_concentration.comments, 
                          length: 50, 
                          omission: "..." , 
                          separator: ' ')
    - title = predicted_concentration.comments.length > 50 ? predicted_concentration.comments : ""
    td[title=title]
      = comments
  - else
    td = nah
