h1#revoked
  = title "Entry #{@revocation.hmdb_id} has been revoked"
table.standard
  colgroup[span="2"]
    col.metabolite[style="width: 20%"]
    col
  tr
    td Name
    td: strong = @revocation.name
  tr
    td Accession Numbers
    td
      = @revocation.hmdb_id
      - if @revocation.accession_numbers.present?
        ' (#{@revocation.accession_numbers})

  - if @revocation.inchikey.present?
    tr
      td InChI Key
      td = @revocation.inchikey
  tr
    td Revocation Comment
    td = @revocation.comment
#metabolite-meta[style="margin-top: 2em"]
  |  Metabolite revoked on #{@revocation.created_at.to_s(:long)}
