$('#pathways').html('<%= escape_javascript render(:partial => 'pathways', :locals => {:pathways => @pathways}) %>');
$('#paginator').html('<%= escape_javascript(paginate(@pathways, :remote => true).to_s) %>');