.alert-danger
  p NOTICE: The ontology section is undergoing maintainance. If it is not visible on a metabocard page or does not include the expected information, please try again later! Thank you!
.page-header: h1
  = title("Showing metabocard for #{@metabolite.name} (#{@metabolite.hmdb_id})")

- cache_unless((@no_spectra_connection || @no_moldb_connection),
    @metabolite, expires: 7.days) do
  = render "/metabolites/jumper", metabolite: @metabolite

  table.content-table.table.table-condensed.table-bordered
    tbody
      = table_header_divider "Record Information"
      tr
        th Version
        td = Rails.application.config.version
      tr
        th Status
        td = @metabolite.human_status
      tr
        th= Metabolite.human_attribute_name(:created_at)
        td = @metabolite.created_at
      tr
        th= Metabolite.human_attribute_name(:updated_at)
        td = @metabolite.updated_at
      tr
        th= Metabolite.human_attribute_name(:hmdb_id)
        td = @metabolite.hmdb_id
      tr
        th Secondary Accession Numbers
        td = list(@metabolite.accession_numbers, empty: "None")

      = table_header_divider "Metabolite Identification", id: 'identification'
      tr
        th Common Name
        td: strong = nah @metabolite.name
      tr
        th Description
        - if @metabolite.description.length <= 200 && @metabolite.wrangler_cs_description
          td.met-description = nah text_with_linked_references(@metabolite.wrangler_cs_description["name"])
        - else
          td.met-description = nah @metabolite.description

      tr
        th Structure
        td
          - if @no_moldb_connection
            .alert.alert-danger Sorry, structures are temporarily unavailable.
          .structure= moldb_thumbnail(@metabolite)
          .structure-links = moldb_structure_links(@metabolite)
      tr
        th Synonyms
        - if @metabolite.synonymified?
          td.data-table-container
            = moldb_synonyms_table(@metabolite)
        - else
          td = nah
      tr
        th Chemical Formula
        td = nah html_formula @metabolite.chemical_formula
      tr
        th Average Molecular Weight
        td = nah @metabolite.average_mass
      tr
        th Monoisotopic Molecular Weight
        td = nah @metabolite.mono_mass
      tr
        th IUPAC Name
        td = nah @metabolite.iupac
      tr
        th Traditional Name
        td = nah @metabolite.traditional_iupac
      tr
        th CAS Registry Number
        td = nah @metabolite.cas
      tr
        th SMILES
        td
          - if @metabolite.has_structure?
            .wrap= @metabolite.moldb_smiles
          - else
            = nah
      tr
        th InChI Identifier
        td: .wrap = nah @metabolite.inchi
      tr
        th InChI Key
        td = nah @metabolite.inchikey

      = table_header_divider "Chemical Taxonomy", id: 'taxonomy'
      - if @metabolite.classyfired?
        = moldb_classification_table(@metabolite)
      - else
        tr
          th Classification
          td = nah nil, 'Not classified'

      = table_header_divider "Ontology"

      / tr
          th Origin
          td
            = render partial: "/metabolites/origin", object: @metabolite.ontology.origins
        tr
          th Biofunction
          td = nah list @metabolite.ontology.biofunctions
        tr
          th Application
          td = nah list @metabolite.ontology.applications
        tr
          th Cellular locations
          td = nah list @metabolite.metabolite_cellular_locations

      - @ontology_terms.each do |parent, maps|
        tr
          th = linked_category(parent, "parent")
          td
            / table
                thead
                tbody
            - maps.each do |category|
              - cat = category.keys.first
              - next if parent == cat
              - terms = category.values.first
              / tr
              p
                - if cat.level == 3
                  | &emsp;&emsp;
                - elsif cat.level == 4
                  | &emsp;&emsp;&emsp;&emsp;
                / td = linked_category(cat, "child")

                = linked_category(cat, "child")
              - if terms.any?
                ul.term-ontnode
                  - terms.each do |term|
                    - if cat.level == 3
                      li.level-three
                        = linked_term(term)
                    - elsif cat.level == 4
                      li.level-four
                        = linked_term(term)
                    - else
                      li
                        = linked_term(term)
      - if !@ontology_terms.any?
        tr
          th = nah

      = table_header_divider "Physical Properties"
      tr
        th State
        td = nah @metabolite.state
      tr
        th Experimental Properties
        td
          table class="table table-bordered"
            col width = "250"
            col width = "250"
            col width = "500"
            thead
              tr
                th Property
                th Value
                th Reference
            tbody
              tr
                td Melting Point
                td = nah @metabolite.experimental_melting_point
                td = nah @metabolite.experimental_melting_point_reference
              tr
                td Boiling Point
                td = nah @metabolite.experimental_boiling_point
                td = nah @metabolite.experimental_boiling_point_reference
              tr
                td Water Solubility
                - if @metabolite.experimental_water_solubility.present?
                    td = nah @metabolite.experimental_water_solubility.gsub(@metabolite.experimental_water_solubility.split(" ")[0], @metabolite.experimental_water_solubility.split(" ")[0].to_f.smart_round_to_s)
                - else
                    td = nah @metabolite.experimental_water_solubility
                td = nah @metabolite.experimental_water_solubility_reference
              tr
                td LogP
                td = nah @metabolite.experimental_logp
                td = nah @metabolite.experimental_logp_reference
      tr
        th Predicted Properties
        - if @metabolite.has_structure?
            td
              = moldb_properties_table(@metabolite)
        - else
            td = nah

      = table_header_divider "Spectra"
      tr
        th Spectra
        td.data-table-container = specdb_spectra_list(@metabolite)

    = table_header_divider "Biological Properties"
    tr
      th Cellular Locations
      td = nah list @metabolite.metabolite_cellular_locations
    tr
      th Biofluid Locations
      td = nah list @metabolite.biofluid_locations
    tr
      th Tissue Location
      td = nah list @metabolite.tissues
    tr
      th Pathways
      td.data-table-container#pathways
        = render 'pathways', :locals => {:pathways => @pathways}

    = table_header_divider "Normal Concentrations", id: 'concentrations'
    tr
      th
        - if @metabolite.normal_concentrations.present?
          = render '/metabolites/concentrations',
              type: 'conc_normal',
              concentrations: @metabolite.normal_concentrations
        - else
          td = nah

    = table_header_divider "Abnormal Concentrations"
    tr
      th
      - if @metabolite.abnormal_concentrations.present?
        = render '/metabolites/concentrations',
            type: 'conc_abnormal',
            concentrations: @metabolite.abnormal_concentrations
      - else
        td = nah

    - if @metabolite.predicted_concentrations.present?
      = table_header_divider "Predicted Concentrations" do
        | Predicted Concentrations #{tip('Blood lipid concentrations are predicted from the quantified individual fatty acid chains that construct these lipids. Original age, sex and conditions come from the experimental concentrations used to make the prediction. Drug concentrations are predicted via an approximation based on general drug doses, volume of distribution and typical metabolism.')}
      tr
        th
        td.data-table-container
          table.table.table-condensed.table-striped.predicted-concentrations
            thead
              tr
                th.biofluid-header Biofluid
                th.value-header Value
                th.age-header Original age
                th.sex-header Original sex
                th.condition-header Original condition
                th.comments-header Comments
            tbody
              = render partial: '/metabolites/predicted_concentration',
                  collection: @metabolite.predicted_concentrations

    = table_header_divider "Associated Disorders and Diseases"
    tr
      th Disease References
      - if @metabolite.diseases.present?
        td: table.disease-table
          - @metabolite.diseases.each do |disease|
            - next unless disease.has_metabolite_references?(@metabolite)
            tr
              th= nah disease.name
            tr
              td: ol.references
                - disease.metabolite_articles(@metabolite).each do |article|
                  li = render '/cite_this/article', article: article
                - disease.metabolite_textbooks(@metabolite).each do |textbook|
                  li = render '/cite_this/textbook', textbook: textbook
                - disease.metabolite_external_links(@metabolite).each do |external_link|
                  - if external_link.url.include? "metagene"
                    = link_to(truncate(external_link.name, length: 15), "http://www.metagene.de/")
                  - else
                    li = render '/cite_this/external_link', external_link: external_link
      - else
        td None
    tr
      th Associated OMIM IDs
      td
        = list @metabolite.diseases.omim.all, empty: 'None' do |disease|
          | #{bio_link_out(:omim, disease.omim_id)} (#{disease.name})

    = table_header_divider "External Links", id: 'links'
    tr
      th DrugBank ID
      td = nah bio_link_out :drugbank, @metabolite.wrangler_identifiers["drugbank_id"]
    tr
      th Phenol Explorer Compound ID
      td = nah bio_link_out :phenol_compound, @metabolite.wrangler_identifiers["phenol_id"]
    tr
      th FoodDB ID
      td = nah bio_link_out :foodb_compound, @metabolite.wrangler_identifiers["foodb_id"]
    tr
      th KNApSAcK ID
      td = nah bio_link_out :knapsack, @metabolite.wrangler_identifiers["knapsack_id"]
    tr
      th Chemspider ID
      td = nah bio_link_out :chemspider, @metabolite.wrangler_identifiers["chemspider_id"]
    tr
      th KEGG Compound ID
      td = nah bio_link_out :kegg_compound, @metabolite.wrangler_identifiers["kegg_id"]
    tr
      th BioCyc ID
      td = nah bio_link_out :biocyc, @metabolite.wrangler_identifiers["meta_cyc_id"]
    tr
      th BiGG ID
      td = nah bio_link_out :bigg, @metabolite.wrangler_identifiers["bigg_id"]
    tr
      th Wikipedia Link
      td = nah bio_link_out :wikipedia, @metabolite.wrangler_identifiers["wikipedia_id"]
    tr
      th METLIN ID
      td = nah bio_link_out :metlin, @metabolite.wrangler_identifiers["metlin_id"]
    tr
      th PubChem Compound
      td = nah bio_link_out :pubchem_compound, @metabolite.wrangler_identifiers["pubchem_id"]
    tr
      th PDB ID
      td = nah bio_link_out :pdb_ligand, @metabolite.wrangler_identifiers["pdbe_id"]
    tr
      th ChEBI ID
      td = nah bio_link_out :chebi, @metabolite.wrangler_identifiers["chebi_id"]

    = table_header_divider "References"
    tr
      th Synthesis Reference
      td = nah @metabolite.synthesis_reference
    tr
      th Material Safety Data Sheet (MSDS)
      td
        - if @metabolite.msds.exists?
          = link_to 'Download (PDF)', @metabolite.msds.url
        - else
          = nah
    tr
      th General References
      td = nah full_reference_list(@metabolite)

  = render '/metabolites/max_protein_warning'

  - MetaboliteProteinLink.types.each do |type|
    - links = @metabolite.send("metabolite_#{type}_links").limit(MetabolitesController::MAX_PROTEINS)
    - next if links.blank?
    h2 id=type.pluralize = type.pluralize.capitalize
    div class="#{type} well well-sm bonds"
      = render partial: 'metabolites/card/metabolite_protein_link',
          collection: links

  = render '/metabolites/max_protein_warning'