h1.page-title= title("Browsing Metabolites in the HML")

.alert.alert-info
  ' If you are interested in purchasing any of the metabolites in the Human Metabolome Library, please #{link_to 'Contact Us', wishart.contact_path, 'data-no-turbolink' => true, class: 'btn btn-xs btn-primary'} today.

= render 'metabolites/filter_info'
= db_paginate @pagination_scope
= render_filter_bars
table#metabolites.table.table-condensed.table-striped
  thead= render '/metabolites/header'
  tbody
    - @table_scope.each do |metabolite|
      = render '/metabolites/metabolite', metabolite: metabolite
= db_paginate @pagination_scope

