.page-header: h1= title 'Classification Browse'

= render_filter_bars
= db_paginate(@search, entry_name: 'classification')

= form_tag classyfication_path,
    method: :get, id: 'table-search-form', class: 'table-search' do
  - params_as_hidden_fields(request.query_parameters, ['q']).each do |field|
    = field.html_safe
  table.table.table-condensed.table-striped.classyfication-list
    thead
      tr
        th Metabolite
        th Kingdom
        th Superclass
        th Class
        th Subclass
        th
      tr.table-search-row
        th= index_search_text :metabolite_name, placeholder: 'Search metabolite name'
        th= index_search_text :kingdom, placeholder: 'Search kingdom'
        th= index_search_text :superklass, placeholder: 'Search superclass'
        th= index_search_text :klass, placeholder: 'Search class'
        th= index_search_text :subklass, placeholder: 'Search subclass'
        th.table-search-submit = table_search_actions
    tbody
      - @search.each do |hit|
        tr
          td= link_to hit.name, metabolite_path(id: hit.hmdb_id)
          td= nah hit.kingdom
          td= nah hit.superklass
          td= nah hit.klass
          td= nah hit.subklass
          td= link_to 'Details',
                metabolite_path(id: hit.hmdb_id, anchor: 'taxonomy'),
                class: 'btn btn-xs btn-info pull-right'

= db_paginate(@search, entry_name: 'classification')