.page-header: h1 = title("Showing Metabolites for Class '#{@class}'")

= db_paginate @metabolites
table.table.table-striped.table-condensed
  thead = render 'metabolites/header'
  tbody = render @metabolites
= db_paginate @metabolites
