 <% metabolites = sequence.sequenceable.metabolites %>
 Interacts with <%= pluralize metabolites.length, 'metabolite' %>:
 <% if metabolites.length > 10 %>
  <ul>
    <% metabolites[0,10].each do |m| %>
      <li><%= link_to "#{m.hmdb_id} (#{m.name})", metabolite_path(m.hmdb_id), target: '_blank' %></li>
    <% end -%>
      <ul>
        <li>+ <%= metabolites.length - 10 %> more</li>
      </ul>
  </ul>
<% else %>
  <ul>
    <% metabolites.each do |m| %>
      <li><%= link_to "#{m.hmdb_id} (#{m.name})", metabolite_path(m.hmdb_id), target: '_blank' %></li>
    <% end -%>
  </ul>
<% end -%>
<%= link_to "Show all metabolites (#{metabolites.length})", protein_metabolite_protein_links_path(sequence.sequenceable), target: '_blank' %>
