/= raise 'tmp'
.page-header: h1 = title('Browsing metabolites')

= render_filter_bars
= extractable_form

= db_paginate @metabolites
.table-responsive
  table.table.table-striped.table-condensed.table-hover.metabolites
    thead
      = render '/metabolites/header'
    tbody
      = render @metabolites
= db_paginate @metabolites
