=link_to "http://www.metabolomicscentre.ca/", id: "tmic-banner" do
  .tmic-banner-content
    .tmic-banner-logo
    .tmic-banner-vertical-rule
    .tmic-banner-message-list
      .tmic-banner-message Quantitative metabolomics services for biomarker discovery and validation.
      .tmic-banner-message Specializing in ready to use metabolomics kits.
      .tmic-banner-message Your source for quantitative metabolomics technologies and bioinformatics.


