ol
  li
    | Wishart DS, Tzur D, Knox C, et al., <em>HMDB: the Human Metabolome Database.</em>  Nucleic Acids Res. 2007 Jan;35(Database issue):D521-6. #{bio_link_out :pubmed, '17202168'}
  li
    | Wishart DS, Knox C, Guo AC, et al., <em>HMDB: a knowledgebase for the human metabolome.</em> Nucleic Acids Res. 2009 37(Database issue):D603-610. #{bio_link_out :pubmed, '18953024'}
  li
    | Wishart DS, Jewison T, Guo AC, Wilson M, Knox C, et al., <em>HMDB 3.0 &mdash; The Human Metabolome Database in 2013.</em> Nucleic Acids Res. 2013. Jan 1;41(D1):D801-7. #{ bio_link_out :pubmed, '23161693'}
