.alert.alert-citation
  p #{glyphicon(:'warning-sign')} #{Rails.application.config.site_abbreviation} is offered to the public as a freely available resource. Use and re-distribution of the data, in whole or in part, for commercial purposes requires explicit permission of the authors and explicit acknowledgment of the source material (#{Rails.application.config.site_abbreviation}) and the original publication (see below). We ask that users who download significant portions of the database cite the #{Rails.application.config.site_abbreviation} paper in any resulting publications.

  p #{link_to 'How to cite the HMDB database', about_path(anchor: 'cite')}.
