<%
experimental  = 'Experimental'
internal      = 'Automatic'
manual        = 'Manual Search'
structure     = 'Calculated from <a href="#metabolite_structure">structure</a>'.html_safe
pubchem       = bio_link_to_source('pubchem')
kegg          = bio_link_to_source('kegg')
pubmed        = bio_link_to_source('pubmed')
chebi         = bio_link_to_source('chebi')
scifinder     = bio_link_to_source('scifinder')
metacyc       = bio_link_to_source('metacyc')
ommbid        = bio_link_to_source('ommbid')
wikipedia     = bio_link_to_source('wikipedia')
chemspider    = bio_link_to_source('chemspider')
pdbechem      = bio_link_to_source('pdbechem')
pdb           = bio_link_to_source('pdb')
uniprot       = bio_link_to_source('uniprot')
genbank       = bio_link_to_source('genbank')
physprop      = bio_link_to_source('physprop')
alogps        = bio_link_to_source('alogps')
pdr           = bio_link_to_source('pdr')
snpjam        = bio_link_to_source('snpjam')
nist          = bio_link_to_source('nist')
protparam     = bio_link_to_source('protparam')
protfun       = bio_link_to_source('protfun')
tmhmm         = bio_link_to_source('tmhmm')
hapmap        = bio_link_to_source('hapmap')
dbsnp         = bio_link_to_source('dbsnp')
go            = bio_link_to_source('go')
who           = bio_link_to_source('who')
bigg          = bio_link_to_source('bigg')
sdbs          = bio_link_to_source('sdbs')
sigma         = bio_link_to_source('sigma')
sciencelab    = bio_link_to_source('sciencelab')
chemaxon      = bio_link_to_source('chemaxon') 
massbank	  = bio_link_to_source('massbank')
bmrb    	  = bio_link_to_source('bmrb')
metlin  	  = bio_link_to_source('metlin')
hmdb		  = bio_link_to_source('hmdb')
merck		  = bio_link_to_source('merck')
metagene	  = bio_link_to_source('metagene')
omim		= bio_link_to_source('omim')
-%>

<% 
check_yes = 'yes'
check_no = 'no'
-%>

<h2 id="fields">Field Documentation and Sources</h2>

<p class="alert alert-info">
  <%= hint %>
  Data sources indicate the source of the information present in each field. Data sources do not indicate that all sources were used for 
  a particular field and metabolite. Individual metabolite reference information can be found in the "General References" section of each metabolite.
</p>

<table class="table table-bordered table-striped documentation">
  <colgroup span="3">
    <col class="field"></col>
    <col></col>
    <col></col>
  </colgroup>

  <tr>
    <th style="width: 140px">Field</th>
    <th>Description</th>
    <th style="width: 130px">Sources</th>
  </tr>
  <tr id="metabolite_created_at" >
    <td>Creation Date</td>
    <td>Date/time the entry was created</td>
    <td><ul class="sources"><li><%= internal %></li></ul></td>
  </tr>
  <tr id="metabolite_updated_at" >
    <td>Update Date</td>
    <td>Date/time the entry was last updated</td>
    <td><ul class="sources"><li><%= internal %></li></ul></td>
    
  </tr>
  <tr id="metabolite_id" >
    <td>HMDB ID (Primary Accession Number)</td>
    <td>Unique HMDB accession number consisting of a 4 letter prefix (HMDB) and a 5 number suffix. This ID is used to access the metabolite entry via the URL. If an entry is deleted, it's HMDB ID will not be reused.</td>
    <td><ul class="sources"><li><%= internal %></li></ul></td>
    
  </tr>
  <tr id="metabolite_name" >
    <td>Name</td>
    <td>Standard name of metabolite</td>
    <td>
      <ul class="sources">
        <li><%= manual %></li>
        <li><%= pubchem %></li>
        <li><%= kegg %></li>
        <li><%= pubmed %></li>
        <li><%= chebi %></li>
        <li><%= scifinder %></li>
        <li><%= metacyc %></li>
      </ul>
    </td>
  </tr>
  <tr id="metabolite_description" >
    <td>Description</td>
    <td>Description of the metabolite describing general facts.</td>
    <td>
      <ul class="sources">
        <li><%= manual %></li>
        <li><%= wikipedia %></li>
        <li><%= pubchem %></li>
        <li><%= kegg %></li>
        <li><%= pubmed %></li>
        <li><%= scifinder %></li>
      </ul>
    </td>
  </tr>
  <tr id="metabolite_kingdom" >
    <td>Kingdom</td>
    <td>First level of hierarchical classification.<em>Organic</em> or <em>Inorganic</em></td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
  </tr>
	<tr id="metabolite_classes" >
    <td>Super Class</td>
    <td>Second level of hierarchical classification. Metabolite with the same super class are considered structurally similar.</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
  </tr>
  <tr id="metabolite_classes" >
    <td>Class</td>
    <td>Third level of hierarchical classification. Metabolite classes form the major component of the classification system. Metabolite with the same super class are considered structurally similar.</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
  </tr>
  <tr id="metabolite_classes" >
    <td>Sub Class</td>
    <td>Fourth level of hierarchical classification. Metabolite with the same class are considered structurally similar.</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
  </tr>
<tr id="metabolite_classes" >
    <td>Substituents</td>
    <td>Fifth level of hierarchical classification. Metabolite functional groups and substructures.</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
  </tr>
<tr id="metabolite_classes" >
    <td>Direct Parent</td>
    <td>A direct parent in the taxonomy is the most descriptive chemical class a chemical entity can be attributed to. It is generated by taking into account the largest substructure (which characterizes a given chemical class) of the biomolecule and the most descriptive attributes.</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
  </tr>

  <tr id="metabolite_synonyms" >
    <td>Synonyms</td>
    <td>Alternate names of the metabolite</td>
    <td>
      <ul class="sources">
        <li><%= manual %></li>
        <li><%= pubchem %></li>
        <li><%= kegg %></li>
        <li><%= pubmed %></li>
        <li><%= chebi %></li>
        <li><%= scifinder %></li>
        <li><%= metacyc %></li>
      </ul>
    </td>
  </tr>
 
  <tr id="metabolite_iupac" >
    <td>Chemical IUPAC Name</td>
		<td>IUPAC or standard chemical name for the metabolite</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
    </tr>
  <tr id="metabolite_traditional_iupac" >
      <td>Traditional IUPAC Name</td>
  		<td>Traditional IUPAC or standard chemical name for the metabolite</td>
      <td><ul class="sources"><li><%= structure %></li></ul></td>
    </tr>
  <tr id="metabolite_formula" >
    <td>Chemical Formula</td>
    <td>Chemical formula describing atomic or elemental composition</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
  </tr>
  <tr id="metabolite_formal_charge" >
      <td>Formal Charge</td>
      <td>Molecular formal charge</td>
      <td><ul class="sources"><li><%= structure %></li></ul></td>
  </tr>
  <tr id="metabolite_average_weight" >
    <td>Average Molecular Weight</td>
    <td>Molecular weight in g/mol, determined from molecular formula or sequence</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
  </tr>
  <tr id="metabolite_mono_weight" >
    <td>Monoisotopic Molecular Weight</td>
    <td>
      The sum of the masses of the atoms in a molecule using the unbound, ground-state, rest mass of the principle (most abundant) isotope for 
      each element instead of the isotopic average mass.
    </td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
  </tr>
  <tr id="metabolite_structure" >
    <td>Structure</td>
		<td>
      The 2D chemical structure including links to download and view the structure in various formats. 
    </td>
    <td>
      <ul class="sources">
        <li><%= manual %></li>
        <li><%= pubchem %></li>
        <li><%= kegg %></li>
        <li><%= chebi %></li>
        <li><%= chemspider %></li>
        <li><%= scifinder %></li>
        <li><%= metacyc %></li>
      </ul>
    </td>
  </tr>
  <tr id="metabolite_smiles" >
    <td>SMILES</td>
    <td>Isomeric SMILES string corresponding to metabolite structure</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
 
  </tr>
  <tr id="metabolite_inchi" >
    <td>InChI</td>
    <td>Standard InChI identifier</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
   
  <tr id="metabolite_inchikey" >
    <td>InChI Key</td>
    <td>Standard InChI key</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
    
  </tr>
  <tr id="metabolite_cas" >
    <td>CAS Registry Number</td>
    <td>Chemical Abstract Service identification number</td>
    <td>
      <ul class="sources">
        <li><%= scifinder %></li>
        <li><%= kegg %></li>
        <li><%= chebi %></li>
      </ul>
    </td>
  
  </tr>
  <tr id="metabolite_kegg_compound" >
    <td>KEGG Compound ID</td>
    <td>Kyoto Encyclopedia of Genes and Genomes compound identification number (if molecule is in KEGG)</td>
    <td><ul class="sources"><li><%= kegg %></li></ul></td>
   
  </tr>
  <tr id="metabolite_pubchem_compound" >
    <td>PubChem Compound ID</td>
    <td>NCBI's PubChem database compound identification number</td>
    <td><ul class="sources"><li><%= pubchem %></li></ul></td>
   
  </tr>
  <tr id="metabolite_chemspider" >
    <td>ChemSpider ID</td>
    <td>ChemSpider identification number</td>
    <td><ul class="sources"><li><%= chemspider %></li></ul></td>
    
  </tr>
  <tr id="metabolite_chebi" >
    <td>ChEBI ID</td>
    <td>EBI's Chemicals of Biological Interest identification number (if metabolite is in ChEBI)</td>
    <td><ul class="sources"><li><%= chebi %></li></ul></td>
    
  </tr>
  <tr id="metabolite_wikipedia" >
    <td>Wikipedia Link</td>
    <td>Link to Wikipedia entry for the given metabolite (if it exists)</td>
    <td><ul class="sources"><li><%= wikipedia %></li></ul></td>
    
  </tr>
  <tr id="metabolite_phenol_explorer" >
    <td>Phenol Explorer ID</td>
    <td>Phenol Explorer identification number</td>
    <td><ul class="sources"><li><%= bio_link_to_source :phenol_explorer %></li></ul></td>
    
  </tr>
  <tr id="metabolite_drugbank" >
    <td>DrugBank ID</td>
    <td>DrugBank identification number</td>
    <td><ul class="sources"><li><%= bio_link_to_source :drugbank %></li></ul></td>    
  </tr>
  <tr id="metabolite_knapsack" >
    <td>KNApSAcK ID</td>
    <td>DrugBank identification number</td>
    <td><ul class="sources"><li><%= bio_link_to_source :drugbank %></li></ul></td>    
  </tr>
  <tr id="metabolite_omim" >
    <td>OMIM ID</td>
    <td>OMIM identification number</td>
    <td><ul class="sources"><li><%= bio_link_to_source :omim %></li></ul></td>    
  </tr>
  <tr id="metabolite_metagene" >
    <td>Metagene ID</td>
    <td>Metagene identification number</td>
    <td><ul class="sources"><li><%= bio_link_to_source :metagene %></li></ul></td>    
  </tr>

  <tr id="metabolite_state" >
    <td>State</td>
    <td>Physical state (solid, liquid, gas)</td>
    <td>
      <ul class="sources">
        <li>MSDS</li>
        <li><%= wikipedia %></li>
      </ul>
    </td>
   
  </tr>
  <tr id="metabolite_melting_point" >
    <td>Melting Point</td>
    <td>Melting point (if solid) or boiling point (if liquid) in degrees Celsius</td>
    <td>
      <ul class="sources">
        
        <li>MSDS</li>
        <li><%= physprop %></li>
        <li><%= wikipedia %></li>
      </ul>
    </td>
   
  </tr>
  <tr id="metabolite_exp_water_solubility" >
    <td>Experimental Water Solubility</td>
    <td>Water solubility in mg/mL or g/L</td>
    <td>
      <ul class="sources">
        <li>MSDS</li>
        
        <li><%= physprop %></li>
        <li><%= wikipedia %></li>
      </ul>
    </td>
   
  </tr>
  <tr id="metabolite_pred_water_solubility" >
    <td>Predicted Water Solubility</td>
    <td>Predicted water solubility in mg/mL</td>
    <td><ul class="sources"><li><%= alogps %></li></ul></td>
  
  </tr>
  <tr id="metabolite_exp_logp" >
    <td>Experimental LogP/Hydrophobicity</td>
    <td>Water/octanol partition coefficient (if small molecule) or hydrophobicity score (Gravy score) if protein/peptide</td>
    <td>
      <ul class="sources">
        <li>MSDS</li>
      
        <li><%= physprop %></li>
        <li><%= wikipedia %></li>
      </ul>
    </td>
   
  </tr>
  <tr id="metabolite_pred_logp" >
    <td>Predicted LogP/Hydrophobicity</td>
    <td>Predicted water/octanol partition coefficient</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
    
  </tr>
  <tr id="metabolite_pred_logp" >
    <td>Predicted LogS</td>
    <td>Predicted LogS (water solubility)</td>
    <td><ul class="sources"><li><%= structure %></li></ul></td>
    
  </tr>
  <tr id="metabolite_exp_logs" >
    <td>Experimental LogS</td>
    <td>Experimental LogS (water solubility)</td>
    <td><ul class="sources"><li><%= bigg %></li></ul></td>
   
  </tr>
  <tr id="metabolite_exp_pka" >
    <td>pKa</td>
    <td>Dissociation constant (pKa)</td>
    <td>
      <ul class="sources">
        <li><%= manual %></li>
        <li><%= physprop %></li>
        <li><%= protparam %></li>
      </ul>
    </td>
    
  </tr>
  <tr id="metabolite_mass_spec" >
    <td>Experimental QqQ MS/MS Spectrum</td>
    <td></td>
    <td>
      <ul class="sources">
        <li><%= hmdb %></li>
        <li><%= massbank %></li>
		<li><%= bmrb %></li>
		<li><%= metlin %></li>
      </ul>
    </td>
    
  </tr>
  <tr>
    <td>Experimental <sup>1</sup>H NMR Spectrum</td>
    <td></td>
    <td>
      <ul class="sources">
        <li><%= hmdb %></li>
		<li><%= bmrb %></li>
      </ul>
    </td>
  </tr>
<tr>
    <td>Experimental <sup>13</sup>C NMR Spectrum</td>
    <td>Image of experimental <sup>13</sup>C NMR</td>
    <td>
      <ul class="sources">
        <li><%= hmdb %></li>
		<li><%= bmrb %></li>
      </ul>
    </td>
  </tr>
<tr>
    <td>Experimental <sup>13</sup>C HSQC Spectrum</td>
    <td>Image of experimental <sup>13</sup>C NMR</td>
    <td>
      <ul class="sources">
        <li><%= hmdb %></li>
		<li><%= bmrb %></li>
      </ul>
    </td>
  </tr>
<tr>
    <td>Experimental 2D TOCSY Spectrum</td>
    <td>Image of experimental 2D TOCSY spectrum</td>
    <td>
      <ul class="sources">
        <li><%= hmdb %></li>
		<li><%= bmrb %></li>
      </ul>
    </td>
  </tr>

  <tr>
    <td>Predicted <sup>1</sup>H NMR Spectrum</td>
    <td>Image of predicted <sup>1</sup>H NMR Spectrum</td>
    <td>
      <ul class="sources">
        <li><%= structure %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Predicted <sup>13</sup>C NMR Spectrum</td>
    <td>Image of experimental <sup>13</sup>C NMR Spectrum</td>
    <td>
      <ul class="sources">
        <li><%= structure %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Biofluid Location</td>
    <td></td>
    <td>
      <ul class="sources">
        <li><%= pubmed %></li>
		<li><%= manual %></li>
		<li><%= metagene %></li>
		<li><%= omim %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Tissue Location</td>
    <td></td>
    <td>
      <ul class="sources">
        <li><%= pubmed %></li>
		<li><%= uniprot %></li>
		<li><%= metagene %></li>
		<li><%= omim %></li>
      </ul>
    </td>
  </tr>

  <tr>
    <td>Normal Metabolite Concentration (Urine)</td>
    <td>Metabolite concentration found in urine</td>
    <td>
      <ul class="sources">
        <li><%= experimental %></li>
        <li><%= manual %></li>
        <li><%= pubmed %></li>
        <li><%= ommbid %></li>
        <li><%= merck %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Normal Metabolite Concentration (Plasma)</td>
    <td>Metabolite concentration found in blood plasma</td>
    <td>
      <ul class="sources">
        <li><%= experimental %></li>
        <li><%= manual %></li>
        <li><%= pubmed %></li>
        <li><%= ommbid %></li>
        <li><%= merck %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Normal Metabolite Concentration (CSF)</td>
    <td>Metabolite concentration found in cerebral spinal fluid</td>
    <td>
      <ul class="sources">
        <li><%= experimental %></li>
        <li><%= manual %></li>
        <li><%= pubmed %></li>
        <li><%= ommbid %></li>
        <li><%= merck %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Normal Metabolite Concentration (Cellular)</td>
    <td>Metabolite concentration found in cells</td>
    <td>
      <ul class="sources">
        <li><%= experimental %></li>
        <li><%= manual %></li>
        <li><%= pubmed %></li>
        <li><%= ommbid %></li>
        <li><%= merck %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Normal Metabolite Concentration (Others)</td>
    <td>Metabolite concentration found in other buifluids</td>
    <td>
      <ul class="sources">
        <li><%= experimental %></li>
        <li><%= manual %></li>
        <li><%= pubmed %></li>
        <li><%= ommbid %></li>
        <li><%= merck %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Associated Disorders and Diseases</td>
    <td></td>
    <td>
      <ul class="sources">
        <li><%= omim %></li>
        <li><%= pubmed %></li>
        <li><%= ommbid %></li>
        <li><%= manual %></li>
        <li><%= merck %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Abnormal Metabolite Concentration (Urine)</td>
    <td>Metabolite concentration found in urine</td>
    <td>
      <ul class="sources">
        <li><%= experimental %></li>
        <li><%= manual %></li>
        <li><%= pubmed %></li>
        <li><%= ommbid %></li>
        <li><%= merck %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Abnormal Metabolite Concentration (Plasma)</td>
    <td>Metabolite concentration found in blood plasma</td>
    <td>
      <ul class="sources">
        <li><%= experimental %></li>
        <li><%= manual %></li>
        <li><%= pubmed %></li>
        <li><%= ommbid %></li>
        <li><%= merck %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Abnormal Metabolite Concentration (CSF)</td>
    <td>Metabolite concentration found in cerebral spinal fluid</td>
    <td>
      <ul class="sources">
        <li><%= experimental %></li>
        <li><%= manual %></li>
        <li><%= pubmed %></li>
        <li><%= ommbid %></li>
        <li><%= merck %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Abnormal Metabolite Concentration (Cellular)</td>
    <td>Metabolite concentration found in cells</td>
    <td>
      <ul class="sources">
        <li><%= experimental %></li>
        <li><%= manual %></li>
        <li><%= pubmed %></li>
        <li><%= ommbid %></li>
        <li><%= merck %></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Abnormal Metabolite Concentration (Others)</td>
    <td>Metabolite concentration found in other buifluids</td>
    <td>
      <ul class="sources">
        <li><%= experimental %></li>
        <li><%= manual %></li>
        <li><%= pubmed %></li>
        <li><%= ommbid %></li>
        <li><%= merck %></li>
      </ul>
    </td>
  </tr>

  <tr>
    <td>Pathways</td>
    <td>Metabolic Pathways </td>
    <td>
      <ul class="sources">
        <li><%= kegg %></li>
		<li><%= metacyc %></li>
      </ul>
    </td>
  </tr>
 <tr>
    <td>Cellular Locations</td>
    <td>Metabolite subcellular locations</td>
    <td>
      <ul class="sources">
        <li><%= manual %></li>
        <li><%= pubmed %></li>
      </ul>
    </td>
  </tr>
  <tr>
	<td>References</td>
    <td>General on-line reference to other details about the metabolite</td>
    <td>
      <ul class="sources">
        <li><%= manual %></li>
        <li><%= pubmed %></li>
      </ul>
    </td>

  </tr>
    <td>Synthesis Reference</td>
    <td>Reference describing the compound synthesis</td>
    <td>
      <ul class="sources">
        <li><%= manual %></li>
        <li><%= pubmed %></li>
      </ul>
    </td>

  </tr>
</table>

<h2>Enzyme, Cofactor and Transporter Documentation</h2>
<table class="table table-bordered table-striped  documentation">
  <colgroup span="3">
    <col class="field"></col>
    <col></col>
    <col></col>
  </colgroup>
  <tr>
    <th style="width: 140px">Field</th>
    <th>Description</th>
    <th style="width: 130px">Sources</th>
  </tr>
  <tr >
    <td>Name</td>
    <td>Name of the protein or macromolecule (or other small molecule)</td>
    <td>
      <ul class="sources">
        <li><%= manual %></li>
        <li><%= pubmed %></li>
        <li><%= uniprot %></li>
        <li><%= kegg %></li>
        <li><%= metacyc %></li>
      </ul>
    </td>
  </tr>
  <tr >
    <td>Gene Name</td>
    <td>Gene name</td>
    <td><ul class="sources"><li><%= uniprot %></li></ul></td>
  </tr>
  <tr >
    <td>Synonyms</td>
    <td>Alternate names (protein names, abbreviations, etc.)</td>
    <td><ul class="sources"><li><%= uniprot %></li></ul></td>
  </tr>
  <tr >
    <td>Protein Sequence</td>
    <td>Amino acid sequence</td>
    <td>
      <ul class="sources">
        <li><%= uniprot %></li>
        <li><%= genbank %></li>
      </ul>
    </td>
  </tr>
  <tr >
    <td>Number of Residues</td>
    <td>Number of amino acids in the protein sequence</td>
    <td><ul class="sources"><li><%= internal %></li></ul></td>
  </tr>
  <tr >
    <td>Molecular Weight (Daltons)</td>
    <td>Molecular weight given in Daltons or g/mol</td>
    <td><ul class="sources"><li><%= internal %></li></ul></td>
  </tr>
  <tr >
    <td>Theoretical pI</td>
    <td>Theoretical isoelectric point</td>
    <td><ul class="sources"><li><%= internal %></li></ul></td>
  </tr>
  <tr >
    <td>GO Classification</td>
    <td>Gene ontology classification including function, cellular process and location</td>
    <td>
      <ul class="sources">
        <li><%= go %></li>
        <li><%= internal %></li>
      </ul>
    </td>
  </tr>
  <tr >
    <td>General Function</td>
    <td>Short 3-4 word summary of the primary functions</td>
    <td>
      <ul class="sources">
        <li><%= uniprot %></li>
        <li><%= protfun %></li>
        <li><%= internal %></li>
        <li><%= manual %></li>
      </ul>
    </td>
  </tr>
  <tr >
    <td>Specific Function</td>
    <td>Detailed 30-40 word summary of the specific functions</td>
    <td><ul class="sources"><li><%= uniprot %></li></ul></td>
  </tr>
  <tr >
    <td>Pathways</td>
    <td>Key pathways or processes (from SMPD) that the given molecule is involved in</td>
    <td>
      <ul class="sources">
        <li><%= kegg %></li>
        <li><%= uniprot %></li>
      </ul>
    </td>
  </tr>
  <tr >
    <td>Reaction</td>
    <td>Reaction(s) that the given molecule participates in</td>
    <td><ul class="sources"><li><%= uniprot %></li></ul></td>
  </tr>
  <tr >
    <td>Pfam Domain Function</td>
    <td>Names and ID numbers of PFAM domains</td>
    <td><ul class="sources"><li><%= uniprot %></li></ul></td>
  </tr>
  <tr >
    <td>Signals</td>
    <td>Location of signal peptide or other localization signals in the sequence</td>
    <td>
      <ul class="sources">
        <li><%= uniprot %></li>
        <li><%= internal %></li>
      </ul>
    </td>
  </tr>
  <tr >
    <td>Transmembrane Regions</td>
    <td>Number and location of the transmembrane helices</td>
    <td>
      <ul class="sources">
        <li><%= uniprot %></li>
        <li><%= tmhmm %></li>
      </ul>
    </td>
  </tr>
  <tr >
    <td>GenBank ID Protein</td>
    <td>GenBank protein ID (if it exists)</td>
    <td>
      <ul class="sources">
        <li><%= genbank %></li>
      </ul>
    </td>
  </tr>
  <tr >
    <td>UniProt ID/Name</td>
    <td>UniProt ID (if it exists)</td>
    <td><ul class="sources"><li><%= uniprot %></li></ul></td>
  </tr>
  <tr >
    <td>PDB ID</td>
    <td>PDB ID (if it exists)</td>
    <td><ul class="sources"><li><%= pdb %></li></ul></td>
  </tr>
  <tr >
    <td>Cellular Location</td>
    <td>Location of the given protein or macromolecule inside or around the cell (cytoplasm, nucleus, membrane, etc.)</td>
    <td><ul class="sources"><li><%= uniprot %></li></ul></td>
  </tr>
  <tr >
    <td>Gene Sequence</td>
    <td>DNA sequence (from cDNA) of the given molecule</td>
    <td><ul class="sources"><li><%= genbank %></li></ul></td>
  </tr>
  <tr >
    <td>GenBank ID Gene</td>
    <td>GenBank database gene identifier and link</td>
    <td>
      <ul class="sources">
        <li><%= genbank %></li>
      </ul>
    </td>
  </tr>
  <tr >
    <td>Chromosome Location</td>
    <td>Location of the molecule on any of the 16 <i>Saccharomyces cerevisiae</i></td>
    <td><ul class="sources"><li><%= genbank %></li></ul></td>
  </tr>
  <tr >
    <td>Locus</td>
    <td>More detailed location of the chromosomal position of the gene</td>
    <td><ul class="sources">
	<li><%= genbank %></li>
	</ul></td>
  </tr>
  <tr >
    <td>References</td>
    <td>Pubmed references</td>
    <td>
      <ul class="sources">
        <li><%= pubmed %></li>
        <li><%= internal %></li>
        <li><%= manual %></li>
      </ul>
    </td>
  </tr>
</table>
