<div class="page-header">
  <h1><%= title 'About the Human Metabolome Database' %></h1>
</div>

<h2>What is the HMDB?</h2>
<div class="well">
  <%= render :partial => "simple/intro" %>
  <p>
    The simple text query (above) supports general text queries of the entire textual component of the
    database. Clicking on the <%= link_to 'Browse', metabolites_path %> menu header (on the HMDB navigation 
    panel above) generates a tabular synopsis of the HMDB's content. This browse view allows users to 
    casually scroll through the database or re-sort its contents. Clicking on a given HMDB ID brings 
    up the full data content for the corresponding metabolite. The <%= link_to 'Biofluids', biofluids_path %> 
    link in the Browse menu generates hyperlinked tables listing normal and abnormal concentrations
    of different metabolites for 23 different biofluids. In the Search menu, the 
    <%= link_to 'ChemQuery Structure Search',
        moldbi.search_structure_path(resource: :metabolites),
        'data-no-turbolink' => true %> link allows users to draw (using a ChemSketch applet) 
    or write (using a SMILES string) a chemical compound and to search HMDB for chemicals similar or identical 
    to the query compound. The <a href="textquery">Text Query</a> supports a more 
    sophisticated text search (partial word matches, case sensitive, misspellings, etc.) of the text portion of 
    HMDB. The <%= link_to 'Sequence Search', seq_search_path %> allows users to conduct BLAST sequence searches 
    of the over <%= number_with_delimiter Protein.exported.select('distinct uniprot_id').count %> gene and protein sequences contained in HMDB. Both single and multiple sequence BLAST queries
    are supported. The 
    <%= link_to 'Advanced Search', unearth.search_path(index: 'metabolites') %> link opens an easy-to-use relational
    query search tool that allows users to select or search over various combinations of subfields. The
    Advanced Search is the most sophisticated search tool for HMDB. The 
    <a href="spectra/ms/search">MS Search</a> 
    allows users to submit Mass spectral files (MoverZ format) that will be searched against the HMDB's library of 
    LC-MS/MS spectra.  This allows the identification of metabolites from mixtures via LC-MS/MS spectroscopy.  The 
    <a href="spectra/nmr_one_d/search">1D</a> and <a href="spectra/nmr_two_d/search">2D</a> NMR Searches allow
    users to submit peak lists from 1H or 13C NMR spectra (both pure and mixtures) or 2D TOCSY or 13C HSQC
    spectra, respectively, and to have these spectra compared to the NMR libraries 
    contained in the HMDB. This allows the identification of metabolites from mixtures via NMR spectroscopy. 
    The <%= link_to 'Downloads', downloads_path %> link provides links to collected sequence, image and text
    files associated with the HMDB. The <a href="http://metabolibrary.ca" target="_blank">HML Home</a> button links 
    to the <a href="http://metabolibrary.ca" target="_blank">Human Metabolome Library (HML)</a> home page. The 
    HML lists metabolites that can be ordered for a fee by researchers around the world. Finally, under the About menu
    there are links for HMDB <a href="statistics">Statistics</a>, and information about the
    <a href="sources">Data Sources</a> used to assemble the HMDB.
  </p>
</div>

<h2>Citing the HMDB</h2>
<%= render :partial => "simple/cite" %>

