<h1 class='page-title'><%= title 'Contact Us' %></h1>

<div class="well">
  <p>
    The Human Metabolome Database was developed by the 
    <%= link_to 'Wishart Research Group', 'http://www.wishartlab.com', target: '_blank' %> as part of the
    <%= link_to 'Human Metabolome Project', 'http://www.metabolomics.ca', target: '_blank' %>.
  </p>
  
  <p>
    We would love to hear your feedback, suggestions, or reports on errors or inconsistencies in HMDB. Please
    use our lab's Feedback Form and we will direct your message to 
    the appropriate expert.
  </p>
  <p>
    <%= link_to 'Questions / Feedback Form', 'http://feedback.wishartlab.com?site=hmdb', 
                class: 'btn btn-primary' %>
  </p>
</div>
