.page-header: h1= title 'Downloads'
= render "download_terms"

ul#download_tabs.nav.nav-tabs
  li: a data-toggle="tab" href="#version_1" Version 1.0
  li: a data-toggle="tab" href="#version_2_5" Version 2.5
  li: a data-toggle="tab" href="#version_3_6" Version 3.6
  li.active: a data-toggle="tab" href="#version_4"
    ' Current Version (#{Rails.application.config.version})

.tab-content
  #version_1.downloads.tab-pane
    h2 Protein/Gene Sequences (in <a href="http://en.wikipedia.org/wiki/Fasta_format">FASTA Format</a>)
    table.table-standard
      thead
        tr
          th Data Set
          th.download-col Protein Sequences
          th.download-col Gene Sequences
      tbody
        tr
          td All Metabolite Metabolizing Enzymes
          td &mdash;
          td &mdash;

    h2 Structures (in <a href="http://en.wikipedia.org/wiki/Chemical_table_file#SDF">SDF Format</a>)
    table.table-standard
      thead
        tr
          th Data Set
          th.download-col SDF File
      tbody
        tr
          td Metabolite Structures
          td = link_to_download('Download', 'mcard_sdf_all.txt.gz', version: '1.0', compressed: false)

    h2 Flat Files (in MetaboCard Format)
    table.table-standard
      thead
        tr
          th Data Set
          th.download-col MetaboCard File
      tbody
        tr
          td All Metabolites
          td = link_to_download('Download', 'metabocards.txt.gz', version: '1.0', compressed: false)

    h2 Spectra
    table.table-standard
      thead
        tr
          th Data Set
          th.download-col MetaboCard File
      tbody
        tr
          td Mass Spectra Image Files
          td = link_to_download('Download', 'mass_spectrum.tar.gz', version: '1.0', compressed: false)
        tr
          td GC-MS Peak Lists
          td = link_to_download('Download', 'GCMS.data.gz', version: '1.0', compressed: false)
        tr
          td NMR Spectra FIDS Files
          td = link_to_download('Download', 'NMR_FIDS.tar.gz', version: '1.0', compressed: false)
        tr
          td NMR Spectra Peaklist Files
          td = link_to_download('Download', 'NMR_Peaklist.tar.gz', version: '1.0', compressed: false)
        tr
          td <sup>13</sup>C NMR and <sup>1</sup>H
          td = link_to_download('Download', 'nmr_spectrum.tar.gz', version: '1.0', compressed: false)
        tr
          td Mass Spectra and NMR Spectra Files in HTML format
          td = link_to_download('Download', 'image_html.tar.gz', version: '1.0', compressed: false)

  #version_2_5.downloads.tab-pane
    h2 Protein/Gene Sequences (in <a href="http://en.wikipedia.org/wiki/Fasta_format">FASTA Format</a>)

    table.table-standard
      thead
        tr
          th Data Set
          th.download-col Protein Sequences
          th.download-col Gene Sequences
      tbody
        tr
          td All Metabolite Metabolizing Enzymes
          td = link_to_download('Download', 'metabolite_enzyme_protein.fasta', version: '2.5', compressed: false)
          td = link_to_download('Download', 'metabolite_enzyme_gene.fasta', version: '2.5', compressed: false)

    h2 Structures (in <a href="http://en.wikipedia.org/wiki/Chemical_table_file#SDF">SDF Format</a>)
    table.table-standard
      thead
        tr
          th Data Set
          th.download-col SDF File
      tbody
        tr
          td Metabolite Structures
          td = link_to_download('Download', 'mcard_sdf_all.txt.gz', version: '2.5', compressed: false)

    h2 Flat Files (in MetaboCard Format)
    table.table-standard
      thead
        tr
          th Data Set
          th.download-col MetaboCard File
      tbody
        tr
          td All Metabolites
          td = link_to_download('Download', 'metabocards.zip', version: '2.5')

    h2 Spectra
    table.table-standard
      thead
        tr
          th Data Set
          th.download-col MetaboCard File
      tbody
        tr
          td Mass Spectra Image Files
          td = link_to_download('Download', 'mass_spectrum.tar.gz', version: '2.5', compressed: false)
        tr
          td GC-MS Peak Lists
          td = link_to_download('Download', 'GCMS.data.gz', version: '2.5', compressed: false)
        tr
          td NMR Spectra FIDS Files
          td = link_to_download('Download', 'NMR_FIDS.tar.gz', version: '2.5', compressed: false)
        tr
          td NMR Spectra Peaklist Files
          td = link_to_download('Download', 'NMR_Peaklist.tar.gz', version: '2.5', compressed: false)
        tr
          td <sup>13</sup>C NMR and <sup>1</sup>H
          td = link_to_download('Download', 'nmr_spectrum.tar.gz', version: '2.5', compressed: false)
        tr
          td Mass Spectra and NMR Spectra Files in HTML format
          td = link_to_download('Download', 'image_html.tar.gz', version: '2.5', compressed: false)

  #version_3_6.downloads.tab-pane
    h2 Protein/Gene Sequences (in <a href="http://en.wikipedia.org/wiki/Fasta_format">FASTA Format</a>)
    table.table-standard
      thead
        tr
          th Data Set
          th.release-col Released on
          th.download-col Protein Sequences
          th.download-col Gene Sequences
      tbody
        tr
          td All Metabolite Metabolizing Enzymes
          td = nah download_created_at('sequences/protein.fasta.zip', version: '3.6')
          td = link_to_download('Download', 'sequences/protein.fasta', version: '3.6')
          td = link_to_download('Download', 'sequences/gene.fasta', version: '3.6')

    h2 Structures (in <a href="http://en.wikipedia.org/wiki/Chemical_table_file#SDF">SDF Format</a>)
    table.table-standard
      thead
        tr
          th Data Set
          th.release-col Released on
          th.download-col SDF File
      tbody
        tr
          td Metabolite Structures
          td = nah download_created_at('structures.zip', version: '3.6')
          td = link_to_download('Download', 'structures', version: '3.6')

    h2 Metabolite and Protein Data (in XML format)
    table.table-standard
      thead
        tr
          th Data Set
          th.release-col Released on
          th.download-col XML File
      tbody
        tr
          td All Metabolites
          td = nah download_created_at('hmdb_metabolites.zip', version: '3.6')
          td = link_to_download('Download', 'hmdb_metabolites', version: '3.6')
        tr
          td All Proteins
          td = nah download_created_at('hmdb_proteins.zip', version: '3.6')
          td = link_to_download('Download', 'hmdb_proteins', version: '3.6')
        tr
          td Urine Metabolites
          td = nah download_created_at('urine_metabolites.zip', version: '3.6')
          td = link_to_download('Download', 'urine_metabolites', version: '3.6')
        tr
          td Serum Metabolites
          td = nah download_created_at('serum_metabolites.zip', version: '3.6')
          td = link_to_download('Download', 'serum_metabolites', version: '3.6')
        tr
          td CSF Metabolites
          td = nah download_created_at('csf_metabolites.zip', version: '3.6')
          td = link_to_download('Download', 'csf_metabolites', version: '3.6')
        tr
          td Saliva Metabolites
          td = nah download_created_at('saliva_metabolites.zip', version: '3.6')
          td = link_to_download('Download', 'saliva_metabolites', version: '3.6')
        tr
          td Feces Metabolites
          td = nah download_created_at('feces_metabolites.zip', version: '3.6')
          td = link_to_download('Download', 'feces_metabolites', version: '3.6')
        tr
          td Sweat Metabolites
          td = nah download_created_at('sweat_metabolites.zip', version: '3.6')
          td = link_to_download('Download', 'sweat_metabolites', version: '3.6')

    h2 Spectra
    table.table-standard
      thead
        tr
          th Data Set
          th.release-col Released on
          th.download-col Download Link
      tbody
        tr
          td Mass Spectra Image Files
          td = nah download_created_at('spectral_data/image_files/hmdb_image_files.zip', version: '3.6', compressed: false)
          td = link_to_download('Download', 'spectral_data/image_files/hmdb_image_files.zip', version: '3.6', compressed: false)
        tr
          td GC-MS Peak Lists
          td = nah download_created_at('spectral_data/ms_peak_lists/hmdb_ms_peak_lists.zip', version: '3.6', compressed: false)
          td = link_to_download('Download', 'spectral_data/ms_peak_lists/hmdb_ms_peak_lists.zip', version: '3.6', compressed: false)
        tr
          td NMR Spectra FIDS Files
          td = nah download_created_at('spectral_data/fid_files/hmdb_fid_files.zip', version: '3.6', compressed: false)
          td = link_to_download('Download', 'spectral_data/fid_files/hmdb_fid_files.zip', version: '3.6', compressed: false)
        tr
          td NMR Spectra Peaklist Files
          td = nah download_created_at('spectral_data/nmr_peak_lists/hmdb_nmr_peak_lists.zip', version: '3.6', compressed: false)
          td = link_to_download('Download', 'spectral_data/nmr_peak_lists/hmdb_nmr_peak_lists.zip', version: '3.6', compressed: false)
        tr
          td Spectra information (in XML format)
          td = nah download_created_at('spectral_data/spectra_xml/hmdb_spectra_xml.zip', version: '3.6', compressed: false)
          td = link_to_download('Download', 'spectral_data/spectra_xml/hmdb_spectra_xml.zip', version: '3.6', compressed: false)

  #version_4.downloads.active.tab-pane
    h2 Protein/Gene Sequences (in <a href="http://en.wikipedia.org/wiki/Fasta_format">FASTA Format</a>)
    table.table-standard
      thead
        tr
          th Data Set
          th.release-col Released on
          th.download-col Protein Sequences
          th.download-col Gene Sequences
      tbody
        tr
          td All Metabolite Metabolizing Enzymes
          td = nah download_created_at('sequences/protein.fasta.zip')
          td = link_to_download('Download', 'sequences/protein.fasta')
          td = link_to_download('Download', 'sequences/gene.fasta')

    h2 Structures (in <a href="http://en.wikipedia.org/wiki/Chemical_table_file#SDF">SDF Format</a>)
    table.table-standard
      thead
        tr
          th Data Set
          th.release-col Released on
          th.download-col SDF File
      tbody
        tr
          td Metabolite Structures
          td = nah download_created_at('structures.zip')
          td = link_to_download('Download', 'structures')

    h2 Metabolite and Protein Data (in XML format)
    table.table-standard
      thead
        tr
          th Data Set
          th.release-col Released on
          th.download-col XML File
      tbody
        tr
          td All Metabolites
          td = nah download_created_at('hmdb_metabolites.zip')
          td = link_to_download('Download', 'hmdb_metabolites')
        tr
          td All Proteins
          td = nah download_created_at('hmdb_proteins.zip')
          td = link_to_download('Download', 'hmdb_proteins')
        tr
          td Urine Metabolites
          td = nah download_created_at('urine_metabolites.zip')
          td = link_to_download('Download', 'urine_metabolites')
        tr
          td Serum Metabolites
          td = nah download_created_at('serum_metabolites.zip')
          td = link_to_download('Download', 'serum_metabolites')
        tr
          td CSF Metabolites
          td = nah download_created_at('csf_metabolites.zip')
          td = link_to_download('Download', 'csf_metabolites')
        tr
          td Saliva Metabolites
          td = nah download_created_at('saliva_metabolites.zip')
          td = link_to_download('Download', 'saliva_metabolites')
        tr
          td Feces Metabolites
          td = nah download_created_at('feces_metabolites.zip')
          td = link_to_download('Download', 'feces_metabolites')
        tr
          td Sweat Metabolites
          td = nah download_created_at('sweat_metabolites.zip')
          td = link_to_download('Download', 'sweat_metabolites')

    h2 Spectra
    table.table-standard
      thead
        tr
          th Data Set
          th.download-col Download Link
      tbody
        tr
          td Mass Spectra Image Files
          td = link_to "#{glyphicon(:download)} Download".html_safe, 'http://specdb.wishartlab.com/downloads/exports/image_files/hmdb_image_files.zip',
                class: 'btn btn-default btn-xs'
        tr
          td GC-MS Peak Lists
          td = link_to "#{glyphicon(:download)} Download".html_safe, 'http://specdb.wishartlab.com/downloads/exports/ms_peak_lists/hmdb_ms_peak_lists.zip',
                class: 'btn btn-default btn-xs'
        tr
          td NMR Spectra FIDS Files
          td = link_to "#{glyphicon(:download)} Download".html_safe, 'http://specdb.wishartlab.com/downloads/exports/fid_files/hmdb_fid_files.zip',
                class: 'btn btn-default btn-xs'
        tr
          td NMR Spectra Peaklist Files
          td = link_to "#{glyphicon(:download)} Download".html_safe, 'http://specdb.wishartlab.com/downloads/exports/nmr_peak_lists/hmdb_nmr_peak_lists.zip',
                class: 'btn btn-default btn-xs'
        tr
          td Spectra information (in XML format)
          td = link_to "#{glyphicon(:download)} Download".html_safe, 'http://specdb.wishartlab.com/downloads/exports/spectra_xml/hmdb_spectra_xml.zip',
                class: 'btn btn-default btn-xs'
