<div class="page-header">
  <h1><%= title 'Help and Tutorial' %></h1>
</div>

<div class="well help-well">
  <div class="help-header">Using HMDB: A Video Tutorial</div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Ns-5ltlUYoI" frameborder="0" allowfullscreen></iframe>
  <p>
    The Human Metabolome Database is a web-based bioinformatics database with detailed information about thousands of human metabolites, their chemical properties and their biological roles. In this tutorial, you will be given a brief introduction on HMDB and how to navigate, browse, search and interpret search results in the website.
  </p>
  </br>
  <p>
    Other questions? Please use our lab's Feedback Form and we will direct your message to 
    the appropriate expert.
  </p>
  <p>
    <%= link_to 'Questions / Feedback Form', 'http://feedback.wishartlab.com?site=hmdb', 
                class: 'btn btn-primary' %>
  </p>
</div>
