doctype html
html xmlns="http://www.w3.org/1999/xhtml" 
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" /
    meta content="" name="description" /
    meta content="" name="author" /
    / title Free Education Template
    /! BOOTSTRAP CORE STYLE CSS
    / link href="assets/css/bootstrap.css" rel="stylesheet" /
    /! FONT AWESOME CSS
    / link href="assets/css/font-awesome.min.css" rel="stylesheet" /
    /! FLEXSLIDER CSS
    / link href="assets/css/flexslider.css" rel="stylesheet" /
    /! CUSTOM STYLE CSS
    / link href="assets/css/style.css" rel="stylesheet" /
    /! Google   Fonts
    link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css" /
  body
    / #menu.navbar.navbar-inverse.navbar-fixed-top
    /   .container
    /     .navbar-header
    /       button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button" 
    /         span.icon-bar
    /         span.icon-bar
    /         span.icon-bar
    /       a.navbar-brand href="#" 
    /         img.logo-custom alt="" src="assets/images/logo180-50.png" /
    /     .navbar-collapse.collapse.move-me
    /       ul.nav.navbar-nav.navbar-right
    /         li
    /           a href="#home"  HOME
    /         li
    /           a href="#features-sec"  SEARCH
    /         li
    /           a href="#faculty-sec"  ABOUT
    /         li
    /           a href="#contact-sec"  CONTACT
    / /! NAVBAR SECTION END
    #home.home-sec
      .overlay
        .container
          .row.text-center
            .col-lg-12.col-md-12.col-sm-12
              #main-section.flexslider.set-flexi
                ul.slides.move-me
                  / /! Slider 01
                  / li
                  /   h3 Delivering Quality Education
                  /   h1 THE UNIQUE METHOD
                  /   a.btn.btn-info.btn-lg href="#features-sec" 
                  /     | GET AWESOME
                  /   a.btn.btn-success.btn-lg href="#features-sec" 
                  /     | FEATURE LIST
                  / /! End Slider 01
                  / /! Slider 02
                  / li
                  /   h3 Delivering Quality Education
                  /   h1 UNMATCHED APPROACH
                  /   a.btn.btn-primary.btn-lg href="#features-sec" 
                  /     | GET AWESOME
                  /   a.btn.btn-danger.btn-lg href="#features-sec" 
                  /     | FEATURE LIST
                  / /! End Slider 02
                  / /! Slider 03
                  / li
                  /   h3 Delivering Quality Education
                  /   h1 AWESOME FACULTY PANEL
                  /   a.btn.btn-default.btn-lg href="#features-sec" 
                  /     | GET AWESOME
                  /   a.btn.btn-info.btn-lg href="#features-sec" 
                  /     | FEATURE LIST
                  / /! End Slider 03
    /! HOME SECTION END
    .tag-line
      .container
        .row.text-center
          .col-lg-12.col-md-12.col-sm-12
            h2 data-scroll-reveal=("enter from the bottom after 0.1s") 
              / i.fa.fa-circle-o-notch
              | WELCOME TO THE MS SPECTRAL SEARCH
              / i.fa.fa-circle-o-notch
    /! HOME SECTION TAG LINE END
    #features-sec.container.set-pad
      .row.text-center
        .col-lg-8.col-lg-offset-2.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
          h1.header-line data-scroll-reveal=("enter from the bottom after 0.2s")  SPECTRA SEARCH
          h3 data-scroll-reveal=("enter from the bottom after 0.3s") 
            | Please select your search criteria below
            li= link_to 'LC-MS Search', specdb.ms_search_path
            / = render "MSSpectralAnnotation/views/ms/search"
      /! /.HEADER LINE END
      / = render "specdb/search/navigation"


    /! SEARCH SECTION END
    #faculty-sec
      .container.set-pad
        .row.text-center
          .col-lg-8.col-lg-offset-2.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
            h1.header-line data-scroll-reveal=("enter from the bottom after 0.1s")  ABOUT US
            p data-scroll-reveal=("enter from the bottom after 0.3s") 
              | WISHART LAB
        /! /.HEADER LINE END
        / .row
        /   .col-lg-4.col-md-4.col-sm-4 data-scroll-reveal=("enter from the bottom after 0.4s") 
        /     .faculty-div
        /       img.img-rounded src="assets/images/faculty/1.jpg" /
        /       h3 ROXI CHI LUENA
        /       hr/
        /       h4
        /         | Desigining
        /         br/
        /         | Department
        /       p
        /         | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        /         | Aenean commodo .
        /   .col-lg-4.col-md-4.col-sm-4 data-scroll-reveal=("enter from the bottom after 0.5s") 
        /     .faculty-div
        /       img.img-rounded src="assets/images/faculty/2.jpg" /
        /       h3 JANE DEO ALEX
        /       hr/
        /       h4
        /         | Enginering
        /         br/
        /         | Department
        /       p
        /         | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        /         | Aenean commodo .
        /   .col-lg-4.col-md-4.col-sm-4 data-scroll-reveal=("enter from the bottom after 0.6s") 
        /     .faculty-div
        /       img.img-rounded src="assets/images/faculty/3.jpg" /
        /       h3 RUBY DECORSA
        /       hr/
        /       h4
        /         | Management
        /         br/
        /         | Department
        /       p
        /         | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        /         | Aenean commodo .
    /! ABOUT SECTION END
    #contact-sec
      .overlay
        .container.set-pad
          .row.text-center
            .col-lg-8.col-lg-offset-2.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
              h1.header-line data-scroll-reveal=("enter from the bottom after 0.1s")  CONTACT US
              p data-scroll-reveal=("enter from the bottom after 0.3s") 
                |
          /! /.HEADER LINE END
          .row.set-row-pad data-scroll-reveal=("enter from the bottom after 0.5s") 
            .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
              form
                .form-group
                  input.form-control placeholder=("Your Name") required="required" type="text" /
                .form-group
                  input.form-control placeholder=("Your Email") required="required" type="text" /
                .form-group
                  textarea.form-control name="message" placeholder="Message" required="required" style=("min-height: 150px;") 
                .form-group
                  button.btn.btn-info.btn-block.btn-lg type="submit"  SUBMIT REQUEST
    .container
      .row.set-row-pad
        .col-lg-4.col-md-4.col-sm-4.col-lg-offset-1.col-md-offset-1.col-sm-offset-1 data-scroll-reveal=("enter from the bottom after 0.4s") 
          h2
            strong Our Location
          hr/
          | <div "
          h4 
          h4 
          h4
            strong Call:
            | 
          h4
            strong> Email:
            | 

    /! CONTACT SECTION END
    #footer
      / \&copy 2014 yourdomain.com | All Rights Reserved \
      a href="http://binarytheme.com" style=("color: #fff") target="_blank" &copy;MS SPECTRAL SEARCH, WishartLab
    /! FOOTER SECTION END
    /! Jquery Core Script
    script src="assets/js/jquery-1.10.2.js" 
    /! Core Bootstrap Script
    script src="assets/js/bootstrap.js" 
    /! Flexslider Scripts
    script src="assets/js/jquery.flexslider.js" 
    /! Scrolling Reveal Script
    script src="assets/js/scrollReveal.js" 
    /! Scroll Scripts
    script src="assets/js/jquery.easing.min.js" 
    /! Custom Scripts
    script src="assets/js/custom.js" 
