<div class="page-header">
  <h1><%= title 'Release Notes' %></h1>
</div>

<!-- Start Body Content -->
<h2>Release 3.0 - September, 2012</h2>
<div class="well">
  <p>
    Version 3.0 of the HMDB is has been significantly expanded and enhanced over the 2009 release (version 2.0).
    In particular, the number of annotated metabolite entries has grown from 6500 to more than 37,166.
    This enormous expansion is a result of the inclusion of both “Confirmed” metabolites (those with measured
    concentrations or experimental confirmation of their existence) and “Expected” metabolites (those for 
    which biochemical pathways are known or human intake/exposure is frequent but the compound has yet to be 
    detected in the body).  The latest release also has greatly increased the number of metabolites with
    biofluid or tissue concentration data, the number of compounds with reference spectra and the number
    of data fields per entry. In addition to this expansion in data quantity, new database visualization 
    tools and new data content has been added or enhanced.  These include better spectral viewing tools,
    more powerful chemical substructure searches, an improved chemical taxonomy and better, more interactive
    pathway maps. 
  </p>
</div>
  
<h2>Release 2.5 - August 1, 2009</h2>
<div class="well">
  <p>
    Version 2.5 of the HMDB represents an evolution in the richness and depth of the data available in the HMDB. In addition, it includes several enhancements and refinements to the search and visualization tools available on the website.  The following table provides a summary of the major changes and enhancements in version 2.5.
  </p>

  <table class="table table-condensed" style="width: 90%">
    <tr>
      <th>Database feature/content status</th>
      <th>HMDB Version 1.0</th>
      <th>HMDB Version 2.0</th>
      <th>HMDB Version 2.5</th>
    </tr>
    
    <tr>
      <td>Number of metabolites</td>
      <td>2180</td>
      <td>6826</td>
      <td>7982</td>
    </tr>
    <tr>
      <td>Number of unique metabolite synonyms</td>
      <td>27700</td>
      <td>43882</td>
      <td>69287</td>
    </tr>
    <tr>
      <td>Number of compounds with disease links</td>
      <td>862</td>
      <td>1002</td>
      <td>1064</td>
    </tr>
    <tr>
      <td>Number of compounds with biofluid or tissue concentration data</td>
      <td>883</td>
      <td>4413</td>
      <td>4857</td>
    </tr>
    <tr>
      <td>Number of compounds with urine concentration data</td>
      <td>231</td>
      <td>472</td>
      <td>782</td>
    </tr>
    <tr>
      <td>Number of compounds with serum concentration data</td>
      <td>174</td>
      <td>3976</td>
      <td>4418</td>
    </tr>
    <tr>
      <td>Number of compounds with cerebrospinal fluid concentration data</td>
      <td>47</td>
      <td>360</td>
      <td>363</td>
    </tr>
    <tr>
      <td>Number of compounds with experimental reference 13C NMR spectra</td>
      <td>380</td>
      <td>784</td>
      <td>899</td>
    </tr>
    <tr>
      <td>Number of compounds with experimental reference 1H NMR spectra</td>
      <td>385</td>
      <td>792</td>
      <td>905</td>
    </tr>
    <tr>
      <td>Number of compounds with reference MS-MS spectra</td>
      <td>390</td>
      <td>799</td>
      <td>2654</td>
    </tr>
    <tr>
      <td>Number of compounds with reference GC-MS spectra</td>
      <td>0</td>
      <td>279</td>
      <td>318</td>
    </tr>
    <tr>
      <td>Number of human-specific pathway maps</td>
      <td>26</td>
      <td>58</td>
      <td>71</td>
    </tr>
    <tr>
      <td>Number of compounds in the Human Metabolome Library (HML)</td>
      <td>607</td>
      <td>920</td>
      <td>1016</td>
    </tr>
    <tr>
      <td>Number of HMDB data fields</td>
      <td>91</td>
      <td>102</td>
      <td>111</td>
    </tr>
    <tr>
      <td>Pathway search/browse capability</td>
      <td>No</td>
      <td>Yes</td>
      <td>Enhanced</td>
    </tr>
    <tr>
      <td>Disease search/browse capability</td>
      <td>No</td>
      <td>Yes</td>
      <td>Enhanced</td>
    </tr>
    <tr>
      <td>Chemical class search/browse capability</td>
      <td>No</td>
      <td>Yes</td>
      <td>Enhanced</td>
    </tr>
    <tr>
      <td>Chemical substructure search capability</td>
      <td>No</td>
      <td>Yes</td>
      <td>Enhanced</td>
    </tr>
    <tr>
      <td>Biofluid search/sort tools</td>
      <td>No</td>
      <td>Yes</td>
      <td>Enhanced</td>
    </tr>
    <tr>
      <td>Advanced (multipeak or multicompound) NMR search</td>
      <td>No</td>
      <td>Yes</td>
      <td>Enhanced</td>
    </tr>
    <tr>
      <td>Advanced (multipeak or multicompound) MS-MS search</td>
      <td>No</td>
      <td>Yes</td>
      <td>Enhanced</td>
    </tr>
    <tr>
      <td>Advanced (retention index or MS peak) GC-MS search</td>
      <td>No</td>
      <td>Yes</td>
      <td>Enhanced</td>
    </tr>
  </table>
</div>

<h2>Release 2.0 - January 1, 2009</h2>
<div class="well">
  <ul>
    <li>Rebuilt website</li>
    <li>Moved to faster server (quad-core X-Serve)</li>
    <li>
      Version 2.0 of the HMDB now has detailed information on 6534 experimentally confirmed metabolites, representing 
      an expansion of nearly 300% over version 1.0. Currently about 60% of the metabolites in the HMDB have been 
      identified or confirmed by the HMDB's team of analytical chemists using NMR, LC-MS or GC-MS methods applied to a 
      variety of human biofluids. Likewise, approximately 45% of the metabolites in the HMDB have been identified and 
      archived through literature surveys or electronic data mining.
    </li>
    <li>
      Metabocards have been updated - they are now easier to parse and several data fields that had mutliple pieces of
      information in a single field have been split up. 
    </li>
  </ul>
</div>

<h2>Release 1.0 - January 1, 2006</h2>
<div class="well">
  <ul>
    <li>Initial HMDB release</li>
  </ul>
</div>
