.page-header: h1= title 'Documentation and Sources'

h2#intro Introduction to HMDB
p
  ' HMDB is a detailed database on small molecule from <em>Homo sapiens</em>.
  ' Each small molecule entry has extensive information on properties, structure, and biology. Each small molecule can have 1 or more enzymes and transporters associated. Below is a quick definition list to get you started.
dl.dl-horizontal
  dt Metabolite
  dd A naturally occurring molecule typically under 1000 MW.
  dt Enzyme
  dd Any protein which catalyzes chemical reactions involving the small molecule.
  dt Transporter
  dd A membrane bound protein which shuttles ions, small molecules or macromolecules across membranes, into cells or out of cells.

= render 'simple/explain_fields'
