.page-header: h1 = title "Database Statistics"

.row
  .col-sm-3
    .sidenav
      ul.nav.nav-pills.nav-stacked data-spy='affix' data-offset-top="100"
        li.nav-header Categories
        li.active= link_to "Metabolite Statistics", '#metabolite-statistics'
        li= link_to 'Biofluid Statistics', '#biofluid-statistics'
        li= link_to 'Concentration Statistics', '#concentration-statistics'
        li= link_to 'Disease Statistics', '#disease-statistics'
        li= link_to "Spectra Statistics", '#spectra-statistics'
        li= link_to "Instrument Statistics", '#instrument-spectra-statistics'
        li= link_to "Protein Statistics", '#protein-statistics'
        li= link_to "Reference Statistics", '#reference-statistics'
        li= link_to "Link-out Statistics", '#link-out-statistics'

  .col-sm-9
    - cache 'statistics', expires_in: 1.day do
      - Statistic.update.stats.each do |name, descriptions|
        h2 id=name.parameterize = name
        - if descriptions.present?
          table.table.table-striped.table-condensed
            thead
              tr
                th Description
                th Count
            tbody
              - descriptions.each do |description, value|
                tr
                  td= description
                  td= number_with_delimiter(value)
