<div class="well">
  <p>
    <%= image_tag 'hmp_logo.png', class: 'pull-left hmp-logo' %>
    The CSF Metabolome database is a freely available electronic
    database containing detailed information about  
    <%= link_to "468 small molecule metabolites", biofluid_app.metabolites_url %>
    found in human CSF along with
    <%= link_to "1650 concentration values", biofluid_app.concentrations_url %>. The
    data tables may be sorted and searched by concentration values and ranges.
    The information includes literature and experimentally derived chemical
    data, clinical data and molecular/biochemistry data. Each MetaboCard entry
    contains more than 
    <%= link_to "110 data fields", biofluid_app.explain_url %>
    and many of them are hyperlinked to
    <%= link_to "other databases", wishart.databases_url %>
    (KEGG, PubChem, MetaCyc, ChEBI, PDB, Swiss-Prot, and
    GenBank).
  </p>
  <%= render '/biofluids/shared/post_intro' %>
</div>

<h2>Please cite:</h2>

<div class="well">
  <%= render '/biofluids/shared/cite_intro' %>
  <ol>
    <li>
      Wishart DS, Lewis MJ, Morrissey JA et al. <em><a href="http://www.ncbi.nlm.nih.gov/pubmed/18502700">The human cerebrospinal fluid metabolome.</a></em> J Chromatogr B Analyt Technol Biomed Life Sci. 2008 Aug 15;871(2):164-73. Epub 2008 May 8.
    </li>
  </ol>
</div>
