table.reaction
  tr
    - reaction.left_reaction_elements.each do |re|
      td
        = re.stoichiometry_string
      td
        - if re.metabolite.nil?
          = re.altext.html_safe
        - else
          = moldb_thumbnail(re.metabolite)
      = "<td>+</td>".html_safe if reaction.left_reaction_elements.last != re
    td= arrow(reaction.direction)
    - reaction.right_reaction_elements.each do |re|
      = "<td>+</td>".html_safe if reaction.right_reaction_elements.first != re
      td= re.stoichiometry_string
      td
        - if re.metabolite.nil?
          = re.altext.html_safe
        - else
          = moldb_thumbnail(re.metabolite)
