- reactions.each do |reaction|
  .reaction-panel
    .panel-heading
      .pull-right = link_to "Details", reaction, class: 'btn btn-xs btn-primary'
      strong = render "reactions/reaction", reaction: reaction
    .panel-body
      = render "reactions/reaction_with_images", reaction: reaction
