<% reaction.left_reaction_elements.includes(:metabolite).each do |re| %>
	<%= re.stoichiometry_string %>
	<%if re.metabolite.nil? %>
	<%= re.altext.try(:html_safe) %>
	<%else%>
	<%= link_to re.metabolite.name, main_app.metabolite_path(re.metabolite) %>
	<%end%>
	<%= "+" if reaction.left_reaction_elements.last != re%>
<% end %>
<%= arrow(reaction.direction) %>
<% reaction.right_reaction_elements.includes(:metabolite).each do |re| %>
	<%= "+" if reaction.right_reaction_elements.first != re%>
	<%= re.stoichiometry_string %>
	<%if re.metabolite.nil? %>
	<%= re.altext.try(:html_safe) %>
	<%else%>
	<%= link_to re.metabolite.name, main_app.metabolite_path(re.metabolite) %>
	<%end%>
<% end %>	
