.page-header: h1 = title "Showing Reaction #{@reaction.id}"

- cache @reaction, expires_in: 7.days do
  .reaction-panel
    .panel-heading
      strong = render "reactions/reaction", reaction: @reaction
    .panel-body
      = render "reactions/reaction_with_images", reaction: @reaction
      - if @reaction.reaction_enzymes.present?
        h4 Enzymes
        ol
          - @reaction.reaction_enzymes.each do |re|
            - if re.protein.present?
              li= link_to re.protein.name, re.protein
            - else
              li= re.altext.present? ? rc.altext : re.source
      - if @reaction.kegg_reaction_id.present? || @reaction.ecocyc_id.present?
        h4 External Links
        ol
          - if @reaction.kegg_reaction_id.present?
            li Kegg Reaction ID: #{bio_link_out :kegg_reaction, @reaction.kegg_reaction_id}
          - if @reaction.ecocyc_id.present?
            li EcoCyc Reaction ID: #{bio_link_out :ecocyc_reaction, @reaction.ecocyc_id}
      h4 Status
      ol
        = @reaction.status
      - if @reaction.predicted_in_hmdb && @reaction.comment.present?
        h4 Comments
        ol
          = @reaction.comment

