tr
  th.id-head = table_sort_link 'HMDBP ID', :hmdbp_id
  th.name-head = table_sort_link 'Name', :name
  th.uniprot-head = table_sort_link 'UniProt ID', :uniprot_id
  th.gene-head = table_sort_link 'Gene Name', :gene_name
  th.locus-head = table_sort_link 'Locus', :locus
  th.type-head = table_sort_link 'Type', :protein_type
  th.references-head References
