- protein = metabolite_protein_link.protein
tr
  td = link_to protein.hmdbp_id, protein, class: 'btn-card'
  td: strong = protein.name
  td = bio_link_out(:uniprot, protein.uniprot_id)
  td = protein.gene_name
  td = protein.locus
  td = protein.protein_type
  td.references =nah full_reference_list(metabolite_protein_link)
