tr
  th.id-head = table_sort_link 'HMDB ID', :hmdb_id
  th.name-head = table_sort_link 'Name', :name
  th.cas-head CAS Number
  th.structure-head Structure
  th.formula-head = table_sort_link 'Formula', :moldb_formula
  th.properties-head
    = table_sort_link 'Average Mass', :moldb_average_mass
    br
    = table_sort_link 'Monoisotopic Mass', :moldb_mono_mass
  th.references-head References
