- metabolite = metabolite_protein_link.metabolite
tr
  td = link_to metabolite.hmdb_id, metabolite, class: 'btn-card'
  td: strong = metabolite.name
  td = metabolite.cas
  td = moldb_thumbnail(metabolite) 
  td = nah html_formula(metabolite.chemical_formula)
  td
    = nah metabolite.moldb_average_mass
    br
    = metabolite.mono_mass
  td.references = nah full_reference_list(metabolite_protein_link)
