- if disease.exported_concentrations.any?
  .panel.panel-default
    .panel-heading: strong
      = disease.name
      - if disease.omim_id.present?
        ' &nbsp; (#{bio_link_out :omim, disease.omim_id})
    .panel-body
      table.table.sort-biofluid.table-striped.table-condensed.diseases-table
        thead
          th.metabolite-head Metabolite
          th.biofluid-head Biofluid
          th.concentration-head Concentration
          th.status-head Patient Status
          th.age-head Age
          th.sex-head Sex
          th.ref-head Reference
          th.details-head Details
        tbody
          - disease.exported_concentrations.each do |concentration|
            - metabolite = concentration.metabolite
            tr
              td
                ' #{link_to metabolite.name, main_app.metabolite_path(metabolite)}
                ' (#{link_to metabolite.hmdb_id, main_app.metabolite_path(metabolite)})
              td = concentration.biofluid
              td = humanized_concentration_value(concentration)
              td = nah concentration.patient_status
              td = nah concentration.age
              td = nah concentration.sex
              td = concentration_table_references(concentration)
              td = link_to_concentration_details(concentration)
