.page-header: h1 = title 'Browsing Diseases'

= render '/concentrations/concentration_details_modal'

= render_filter_bars
= db_paginate @diseases
#diseases = render @diseases
= db_paginate @diseases
