.metabolites
  = link_to pluralize(hit.metabolite_count, 'metabolite'),
      main_app.protein_metabolite_protein_links_path(hit.hmdbp_id)
.hit-name: strong = link_to hit.name, main_app.protein_path(id: hit.hmdbp_id)
.unearth-search-highlights
  - if hit.highlights.present?
    - hit.highlights.each do |field, highlights|
      ' Matched #{field}:
      ' &hellip; #{highlights.join(' ... ').html_safe} &hellip;
      br
