.modal-header
  button.close aria-hidden="true" data-dismiss="modal" type="button"  &times;
  h4.modal-title Concentration Details
.modal-body
  dl.dl-horizontal
    dt Metabolite
    dd = bio_link_out :hmdb, @concentration.metabolite.hmdb_id, 
          @concentration.metabolite.to_s, target: '_blank'
    dt Biofluid
    dd = @concentration.biofluid
    dt Status
    dd = @concentration.status
    dt Data source
    dd = @concentration.source
    dt Concentration
    dd = humanized_concentration_value(@concentration)
    dt Age
    dd = nah @concentration.age
    dt Sex
    dd = nah @concentration.sex
    dt Condition
    dd = @concentration.conc_condition
    - if @concentration.export_comment? && @concentration.comment.present?
      h5 Comments
      blockquote.references = @concentration.comment
    - if @concentration.has_references?
      h5 References
      ul.list-unstyled
      - references = full_reference_list(@concentration)
      / - html_references = Nokogiri::HTML(references)
        - metagene_link = html_references.at('li:contains("MetaGene")')
        - if metagene_link
          - metagene_link.at('a')["href"] = "http://www.metagene.de"
        = nah html_references
      = nah references
      


.modal-footer
  button.btn.btn-default data-dismiss="modal" type="button" Close