<div class="well">
  <p>
    <%= image_tag 'hmp_logo.png', class: 'pull-left hmp-logo' %>
    The Fecal Metabolome database is a freely available electronic database 
    containing detailed information about many
    <%= link_to "small molecule metabolites", biofluid_app.metabolites_url %> found 
    in human feces and many
    <%= link_to "concentration values", biofluid_app.concentrations_url %>.
    Each metabolite entry contains more than
    <%= link_to "110 data fields", biofluid_app.explain_url %>
    and many of them are hyperlinked to 
    <%= link_to "other databases", wishart.databases_url %> (KEGG, PubChem, ChEBI, Chemspider, DrugBank, PDB and  Uniprot). The information includes literature and experimentally derived chemical 
    data, <%= link_to "clinical data", biofluid_app.diseases_url %> and molecular/biochemistry data.
  </p>
  <%= render '/biofluids/shared/post_intro' %>
</div>

<h2>Please cite:</h2>

<div class="well">
  <%= render '/biofluids/shared/cite_intro' %>
  <ol><li>Wishart, DS et. al <i>The Human Fecal Metabolome.</i> Publication in progress... </li>
  </ol>
</div>
