.panel.panel-default
  .panel-heading: strong = pathway.name
  - if pathway.smpdb_id.present? || pathway.kegg_id.present?
    .panel-heading
      - if pathway.smpdb_id.present?
        = link_to image_tag(bio_url(:pathwhiz_thumb, pathway.pathwhiz_id), class: 'img-thumbnail'),
        bio_url(:smpdb, pathway.smpdb_id),
        target: '_blank'
        = link_to image_tag(bio_url(:pathwhiz_thumb_greyscale, pathway.pathwhiz_id), class: 'img-thumbnail'),
        bio_url(:smpdb_greyscale, pathway.smpdb_id),
        target: '_blank'
        = link_to image_tag(bio_url(:pathwhiz_thumb_simple, pathway.pathwhiz_id), class: 'img-thumbnail'),
        bio_url(:smpdb_simple, pathway.smpdb_id),
        target: '_blank'
      - if pathway.kegg_id.present?
        = link_to image_tag(bio_url(:kegg_map_thumb, pathway.kegg_id.gsub('map','hsa')), class: 'img-thumbnail'), bio_url(:kegg_map, pathway.kegg_id.gsub('map','hsa')), target: '_blank'

  .panel-body
    table.table.table-striped.table-condensed.datatable
      thead
        th.id-head HMDB ID
        th.name-head Name
        th.pathway-head Pathway
      tbody
        - pathway.metabolites.each do |metabolite|
          tr
            td = link_to metabolite.hmdb_id, main_app.metabolite_path(metabolite)
            td = link_to metabolite.name, main_app.metabolite_path(metabolite)
            td = link_to "Show", 
                  bio_url(:smpdb, pathway.smpdb_id) + "?highlight[compounds][]=#{metabolite.hmdb_id}", class: 'link-out'