nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle type="button" data-toggle="collapse" data-target="#main-nav"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to "#{@biofluid_name} Metabolome", 
          biofluid_app.home_url, 
          class: 'navbar-brand',
          'data-no-turbolink' => true
    .collapse.navbar-collapse id="main-nav"
      ul.nav.navbar-nav
        = render 'layouts/biofluid/navigation_links'
      == render 'layouts/biofluid/search'