li.dropdown
  a href="#" class="dropdown-toggle" data-toggle="dropdown" Browse <b class="caret"></b>
  ul.dropdown-menu
    li= link_to 'Metabolites', biofluid_app.metabolites_url
    li= link_to 'Concentrations', biofluid_app.concentrations_url
    li= link_to 'Diseases', biofluid_app.diseases_url
li.dropdown
  a href="#" class="dropdown-toggle" data-toggle="dropdown" HMDB <b class="caret"></b>
  ul.dropdown-menu
    li= link_to 'Human Metabolome Database', Rails.application.config.url
    - BIOFLUID_CONFIG.keys.each do |app|
      li= link_to "#{BIOFLUID_CONFIG[app]['name']} Metabolome Database", 
            "http://#{BIOFLUID_CONFIG[app]['url']}"
li= link_to 'Downloads', biofluid_app.downloads_url
li= link_to 'Statistics', biofluid_app.statistics_url
li= link_to 'Contact Us', wishart.contact_url
