= form_tag unearth.search_url, 
    method: :get, class: "navbar-form navbar-right" do
  = hidden_field_tag :searcher, 'biofluid'
  = hidden_field_tag :biofluid, params[:biofluid]
  .form-group
    = text_field_tag :query, params[:query], 
        class: 'search-query form-control input-sm', placeholder: 'Search'
  = button_tag "#{glyphicon(:search)} Search".html_safe, 
      class: 'btn btn-default btn-sm btn-search'
