li.dropdown
  a href="#" class="dropdown-toggle" data-toggle="dropdown" Browse <b class="caret"></b>
  ul.dropdown-menu
    li= link_to 'Metabolites', main_app.metabolites_path
    li= link_to 'Diseases', main_app.diseases_path
    li= link_to 'Pathways', main_app.pathways_path
    li= link_to 'Biofluids', main_app.biofluids_path
    li= link_to 'Classes', main_app.classyfication_path
    li= link_to 'Proteins', main_app.proteins_path
    li= link_to 'Reactions', main_app.reactions_path
    li= link_to 'Metabolite Library (HML)', main_app.hml_root_path
    li= link_to 'BMI Metabolomics', main_app.bmi_metabolomics_path
    li= link_to 'Age Metabolomics', main_app.age_metabolomics_path
    li= link_to 'Gender Metabolomics', main_app.gender_metabolomics_path
    li= link_to 'Geno Metabolomics', main_app.geno_metabolomics_path
    li= link_to 'Pharmaco Metabolomics', main_app.pharmaco_metabolomics_path
    li= link_to 'Diurnal Metabolomics', main_app.diurnal_metabolomics_path
li.dropdown
  a href="#" class="dropdown-toggle" data-toggle="dropdown" Search <b class="caret"></b>
  ul.dropdown-menu
    li
      = link_to 'ChemQuery Structure Search',
          moldbi.search_structure_path(resource: :metabolites),
          'data-no-turbolink' => true
    li
      = link_to 'Molecular Weight Search',
          moldbi.search_mass_path(resource: :metabolites),
          'data-no-turbolink' => true
    li= link_to 'Text Query', main_app.textquery_path
    li= link_to 'Sequence Search', main_app.seq_search_path
    li= link_to "Advanced Search", unearth.advanced_path(index: 'metabolites')
    = specdb_search_links
li= link_to 'Downloads', main_app.downloads_path
li.dropdown
  a href="#" class="dropdown-toggle" data-toggle="dropdown" About <b class="caret"></b>
  ul.dropdown-menu
    li= link_to "About the #{app_name}", main_app.about_path
    li= link_to 'Release Notes', main_app.release_notes_path
    li= link_to 'Citing the HMDB', main_app.citing_path
    li= link_to "Help/Tutorial", main_app.help_path
    li= link_to "What's New", main_app.news_path
    li= link_to 'Statistics', main_app.statistics_path, 'data-no-turbolink' => true
    li= link_to 'Data Sources', main_app.sources_path
    li= link_to 'Other Databases', wishart.databases_path
    li= link_to "Wishart Research Group", 'http://www.wishartlab.com', target: '_blank'
li= link_to 'Contact Us', wishart.contact_path, 'data-no-turbolink' => true
