= form_tag unearth.search_path,
    method: :get, class: "navbar-form navbar-right" do
  .form-group
    = text_field_tag :query, params[:query],
        class: 'search-query form-control input-sm', placeholder: 'Search'
  .form-group
    = select_tag :searcher,
        options_for_select(search_types, params[:searcher]),
        class: 'form-control input-sm'
  = button_tag "#{glyphicon(:search)} Search".html_safe,
      class: 'btn btn-default btn-sm btn-search'
