- reaction = Reaction.find(hit.id)
.reaction-panel
  .panel-heading
    .pull-right 
      = link_to "Details", main_app.reaction_path(reaction), 
          class: 'btn btn-xs btn-primary'
    strong = render "reactions/reaction", reaction: reaction
  .panel-body
    = render "reactions/reaction_with_images", reaction: reaction
