fieldset
- params[:filters][:status] ||= {}
.form-group
  label Status (default all):
  br
  - FilterGroups::MetaboliteStatus.statuses.to_a.in_groups_of(1) do |group_set|
    - group_set.each do |key, title|
      label.checkbox-inline
        = check_box_tag "filters[status][#{key}]", '1',
            params[:filters][:status][key]
        = title
    br

