.structure
  = moldb_thumbnail(hit.hmdb_id)
.biofluids
  == hit.biofluids.map { |g| content_tag(:span, g, class: 'badge') }.join(" ")
.hit-name = link_to hit.name, main_app.metabolite_path(id: hit.hmdb_id)
.iupac = hit.iupac
.unearth-search-highlights
  - if hit.highlights.present?
    - hit.highlights.each do |field, highlights|
      ' Matched #{field}:
      ' &hellip; #{highlights.join(' ... ').html_safe} &hellip;
      br