.page-header: h1
  - if @protein.present?
    = title("#{@protein.hmdbp_id} (#{@protein.name}) Metabolite Associations")
  - elsif @metabolite.present?
    = title("#{@metabolite.hmdb_id} (#{@metabolite.name}) Protein Associations")

= db_paginate @metabolite_protein_links
- if @protein.present?
  table.table.table-condensed.table-striped.metabolite-protein-links.metabolites
    thead
      = render '/metabolite_protein_links/metabolites/header'
    tbody
      = render partial: '/metabolite_protein_links/metabolites/metabolite_protein_link',
        collection: @metabolite_protein_links
- elsif @metabolite.present?
  table.table.table-condensed.table-striped.metabolite-protein-links.proteins
    thead
      = render '/metabolite_protein_links/proteins/header'
    tbody
      = render partial: '/metabolite_protein_links/proteins/metabolite_protein_link',
        collection: @metabolite_protein_links
= db_paginate @metabolite_protein_links
