ul.nav.nav-tabs.index-nav
  li class=(@index_name == 'metabolites' ? 'active' : '') 
    = link_to 'Metabolite Advanced Search', unearth.advanced_path(index: 'metabolites')
  li class=(@index_name == 'concentrations' ? 'active' : '') 
    = link_to 'Concentration Advanced Search', unearth.advanced_path(index: 'concentrations')
