nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle type="button" data-toggle="collapse" data-target="#main-nav"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'HML', 
          main_app.hml_root_path,
          class: 'navbar-brand'
    .collapse.navbar-collapse id="main-nav"
      ul.nav.navbar-nav
        = render 'layouts/hml/navigation_links'
      == render 'layouts/hml/search'