<table class="inner" <%= concentration_valueconcentration %> 
            data-ref=<%=ref_pubmed_link concentration%>>
  <tr>
    <th width="20%">Status</th>
    <th><strong><%= concentration.status %></strong></th>
  </tr>
  <tr>
    <th>Source</th>
    <td><%= concentration.source %></td>
  </tr>  
  <tr>
    <th>Biofluid</th>
    <td><strong><%= concentration.biofluid %></strong></td>
  </tr>
  <tr>
    <th>Value</th>
    <td>
      <%= concentration.detected_and_quantified? ? "#{concentration.conc_value} #{concentration.conc_unit}" : 'Detected' %>
    </td>
  </tr>
  <tr>
    <th>Age</th>
    <td><%= nah concentration.age %></td>
  </tr>
  <tr>
    <th>Sex</th>
    <td><%= nah concentration.sex %></td>
  </tr>
  <tr>
    <th><%= concentration.abnormal? ? 'Patient information' : 'Subject Condition' %></th>
    <td><%= nah concentration.conc_condition %></td>
  </tr>
  <% if concentration.export_comment? && concentration.comment.present? %>
    <tr>
      <th>Comments</th>
      <td><%= concentration.comment %></td>
    </tr>
  <% end -%>
  <tr>
    <th>References</th>
    <td>
      <% if concentration.articles.present? %>
        <%= list( concentration.articles, list_options: { class: :references } ) do |a| %>
          <li><%= render partial: "references/article", locals: { article: a } %></li>
        <% end -%>
      <% elsif concentration.textbooks.present? -%>
        <%= list( concentration.textbooks, list_options: { class: :references } ) do |t| %>
          <li><%= render partial: "references/textbook", locals: { textbook: t } %></li>
        <% end -%>
      <% else %>
        <%= nah %>
      <% end -%>      
    </td>
  </tr>   
</table>
