- protein = metabolite_protein_link.protein
.panel.panel-default
  .panel-heading
    .pull-right 
      = link_to "#{glyphicon(:list)} Enzyme Details".html_safe, protein, 
          class: 'btn btn-warning btn-xs'
    strong #{metabolite_protein_link_counter+1}. #{link_to protein.name, protein}
  .panel-body
    dl.dl-horizontal
      dt General function:
      dd = nah protein.general_function
      dt Specific function:
      dd = nah protein.specific_function
      dt Gene Name:
      dd = nah protein.gene_name
      dt Uniprot ID:
      dd = nah bio_link_out :uniprot, protein.uniprot_id
      dt Molecular weight:
      dd = nah protein.molecular_weight

    - reactions = protein.reactions_with_metabolite(@metabolite)
    - if reactions.present?
      h5 Reactions
      table.table.table-condensed.table-striped
        tbody
          - reactions.each do |reaction|
            tr 
              td = reaction
              td = link_to 'details', reaction, 
                    class: 'btn btn-primary btn-xs', target: '_blank' 
    - if metabolite_protein_link.has_references?
      h5 References
      blockquote.references = full_reference_list(metabolite_protein_link)