.controller-biofluids.action-index {
  #concentrations {
    table {
      thead {
        th.ref {
          width: 90px;
        }
      }
    }
  }
}

.biofluid-statistics {
  @extend .table;
  @extend .table-condensed;
  @extend .table-striped;
  td { width: 20%}
}