@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);

// Colors:
$hmdb-primary: #1B1757;
$hmdb-blue: #202752;
$hmdb-med-blue: #363D63;
$hmdb-light-blue: #A6A9BA;
$hmdb-yellow: #d17e1a;
$hmdb-med-yellow: #D68B31;
$hmdb-light-yellow: #DFA55F;
$hmdb-red: #ed1c24;
