$tmic-banner-height: 50px;
$tmic-banner-body-padding: 15px;
$tmic-banner-vertical-padding: 5px;
$tmic-banner-text-color: #343433;

// Overrides for default link behavior
a#tmic-banner, a#tmic-banner:hover, a#tmic-banner:visited {
  display: block;
  color: $tmic-banner-text-color;
}

#tmic-banner {
  position: relative;
  /*expand to fill the padding on the sides*/
  margin-left: -$tmic-banner-body-padding;
  margin-right: -$tmic-banner-body-padding;

  margin-top: 50px;
  height: $tmic-banner-height;
  margin-bottom: -$tmic-banner-height;

  /*Layer multicple backgrounds for a responsive banner*/
  /*https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_multiple_backgrounds*/
  background-image:
    image-url('demo/ad1/tmic-banner-left-back.jpg'),
    image-url('demo/ad1/tmic-banner-right-back.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: 220px 50px, 220px 50px;
  background-position: left, right;

  background-color: #e4f8fc;

  .tmic-banner-content {
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    height:         $tmic-banner-height;
    padding-left:   $tmic-banner-body-padding;
    padding-right:  $tmic-banner-body-padding;
    padding-top:    $tmic-banner-vertical-padding;
    padding-bottom: $tmic-banner-vertical-padding;
  }

  .tmic-banner-logo, .tmic-banner-message {
    position: relative;
    display: inline-block;

  }

  .tmic-banner-logo, .tmic-banner-vertical-rule, .tmic-banner-message-list {
    float: left;
  }

  .tmic-banner-logo {
    background-color: transparent;
    background-image: asset-url('demo/ad1/tmic-banner-wide-logo.png');
    height: 40px;
    /*height: $tmic-banner-height - 2*$tmic-banner-vertical-padding;*/
    width: 233px;
    /*margin-left: 140px;*/
    background-size: 233px 40px;
    background-repeat: none;
  }

  .tmic-banner-vertical-rule {
    height: 40px;
    border-left: 2px solid $tmic-banner-text-color;
    margin-left: 10px;
    margin-right: 10px;
  }

  .tmic-banner-message-list {
    position: relative;
    width: 300px;

    .tmic-banner-message {
      position: absolute;
      line-height: 14px;
      padding-top: 7px;
      opacity: 0;
    }

    // Set up animations to switch between messages
    // the messages use the same animation with staggered start times
    .tmic-banner-message:nth-child(1) {
      animation: tmic-banner-xfade 30s 0s infinite;
    }
    .tmic-banner-message:nth-child(2) {
      animation: tmic-banner-xfade 30s 10s infinite;
    }
    .tmic-banner-message:nth-child(3) {
      animation: tmic-banner-xfade 30s 20s infinite;
    }

    // Start the animation as invisible, fade in,
    // then display the message from time 2% to time 31%
    // then fade out, and wait till end of animation
    @keyframes tmic-banner-xfade{
      0%   { opacity: 0; }
      2%   { opacity: 1; }
      31%  { opacity: 1; }
      33%  { opacity: 0; }
      100% { opacity: 0; }
    }

  }
}
