.metabolite-protein-links-c.index-a {
  table.metabolite-protein-links {
    td.references { text-align: left }
    &.metabolites {
      thead {
        th.id-head { width: 100px; }
        th.name-head { width: 300px; }
        th.structure-head { width: 140px }
        th.properties-head { width: 105px }
      }
    }
    &.proteins {
      thead {
        th.id-head { width: 100px; }
        th.name-head { width: 200px; }
        th.uniprot-head { width: 100px }
        th.properties-head { width: 105px }
        th.type-head { width: 80px }
      }
    }
  }
}