#concentration-details.modal {
  margin-top: 60px;
}
#metabolomic_category-details.modal {
  margin-top: 60px;
}

// Metabolite view specific styles
table.concentrations {
  font-size: 13px;
  thead {
    tr {
      th.biofluid-header  { width: 5% }
      th.status-header    { width: 10% }
      th.value-header     { width: 20% }
      th.age-header       { width: 16% }
      th.sex-header       { width: 10% }
      th.condition-header { width: auto }
      th.reference-header { width: 80px;}
      th.details-header   { width: 80px;}
    }
  }
  tbody {
    tr {
      td { padding: .4em .5em }
    }
  }
}

table.predicted-concentrations {
  font-size: 13px;
  thead {
    tr {
      th.biofluid-header  { width: 10% }
      th.value-header     { width: 10% }
      th.age-header       { width: 20% }
      th.sex-header       { width: 15% }
      th.condition-header { width: 20% }
      th.comments-header  { width: auto }
    }
  }
  tbody {
    tr {
      td { padding: .4em .5em }
    }
  }
}

.reference-icon-link {
  img {
    margin-right: 4px;
    vertical-align: top;
    width: 17px;
    height: 17px;
  }
}
.comment-icon {
  float: right;
}

// Top of metabolite card
#jumper.metabolite {
  .btn-enzymes { background: $enzyme; }
  .btn-transporters { background: $transporter; }
}

// Metabolites index
table.metabolites {
  tbody {
    td { vertical-align: middle; }
  }
  td.metabolite-link {
    text-align: center;
    vertical-align: middle;
    .btn {
      margin-bottom: 1em;
    }
    .cas {
      font-size: 12px;
      margin-top: 0.6em;
    }
  }
  td.metabolite-name {
    word-break: break-all;
  }
  td.metabolite-structure {
    img { @extend .thumbnail; margin-bottom: 0;}
  }
}