table.content-table.proteins {
  > tbody > tr > th { background: $enzyme; color: #555555; }
  > tbody > tr > th.divider { 
    background: #555555;
    color: #F0F0F0;
    font-weight: normal;
    text-shadow: rgb(0, 0, 0) 0px -1px 0px;
  }
}