.reaction-panel {
  @extend .panel;
  @extend .panel-default;
  table.reaction {
    text-align: center;
    empty-cells: show;
    clear: both;
    background: white;
    margin: 0.5em auto;
    padding: 1px;
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
  }
}