.unearth-search-results {
  &.unearth-metabolite-search-results {
    .unearth-search-hit {
      .result-link {
        .cas-number {
          font-size: 13px;
          margin-top: .8em;
          color: #6B6B6B;
          text-align: center;
        }
      }
      .result-info {
        .hit-name {
          font-weight: bold;
          font-size: 16px;
          padding-left: 2%;
        }
        .iupac {
          color: #6B6B6B;
          padding-left: 2%;
        }
        .biofluids {
          @extend .pull-right;
          .badge {
            font-size: 10px;
          }
        }
        .structure {
          @extend .pull-right;
          margin-left: 1em;
          img { @extend .thumbnail; }
        }
      }
    }
    .unearth-search-highlights{
      padding-left: 2%;
    }
  }

  &.unearth-protein-search-results {
    .uniprot-id {
      font-size: 13px;
      margin-top: .8em;
      color: #6B6B6B;
      text-align: center;
    }
    .metabolites {
      float: right;
      a {
        @extend .btn-card;
        @extend .btn-primary;
      }
    }

    .unearth-search-highlights{
      padding-left: 2%;
    }
    .hit-name {
      padding-left: 2%;
    }
  }
}

// Hit info for SeqSearch results:
.seq-search-hit-info {
  clear: both;
  ul {
    list-style-type: none;
    li {
      margin-left: 0.5em;
    }
  }
}

.seq-search-title {
  .organism {
    font-style: italic;
    color: grey;
  }
}

.search-help-bar {
  margin-bottom: 1em;
  .search-query {
    width: 300px;
  }
}