.home-banner {
  position: relative;
  left: -30px;
  top: -10px;
  width: calc(100% + 60px);
  overflow-x: hidden;
  .banner {
    width: 100%;
  }
  .banner-text {
    font-family: 'Maven Pro', sans-serif;
    position: absolute;
    top: 25%;
    height: 50%;
    background-color:rgba(355,355,355,0.8);
    width: 100%;
    .banner-logo {
      height: 90%;
      margin-top: 1%;
      margin-left: 5%;
      float: left;
    }
    .link-bar {
      height: 20%;
      float: right;
      margin-top: 4%;
      background-color: $hmdb-yellow;
      display: table;
      position: relative;
      white-space: nowrap;
      padding: 1%;
      .link-text {
        width: 40%;
      }
      &.one {
        width: 60%;
        right: -60%;
      }
      &.two {
        width: 50%;
        right: -50%;
      }
      a {
        padding: 1% 3%;
        color: white;
        display: table-cell;
        vertical-align: middle;
        &:hover {
          color: $hmdb-blue;
          text-decoration: none;
        }
      }
      span.glyphicon {
        position: relative;
        top: 3px;
      }
    }
  }
}

.home-text {
  margin: 15px;
  .version-title {
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    text-align: center;
    color: $hmdb-yellow;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .wishart-twitter {
    margin-top: 40px;
  }
  .more-about {
    text-align: right;
    margin: 5px 0px;
  }
  .citation-box {
    h3 {
      margin-top: 10px;
    }
    margin-top: 25px;
    color: white;
    padding: 15px;
    background-color: $hmdb-med-blue;
    a {
      color: $hmdb-yellow;
      &:hover {
        color: $hmdb-yellow;
      }
    }
  }
}

.help-well {
  text-align: center;
  .help-header {
    font-weight: bold;
    font-size: 18px;
  }
  iframe {
    padding: 10px;
  }
}
