<div class="well">
  <p>
    <%= image_tag 'hmp_logo.png', class: 'pull-left hmp-logo' %>
    The Sweat Metabolome database is a freely available electronic database 
    containing detailed information about many small molecule metabolites
    found in human sweat and concentration values.
    Each metabolite entry contains more than 110 data fields
    and many of them are hyperlinked to 
    <%= link_to "other databases", wishart.databases_url %> (KEGG, PubChem, ChEBI, Chemspider, DrugBank, PDB and  Uniprot). The information includes literature and experimentally derived chemical 
    data, <%= link_to "clinical data", biofluid_app.diseases_url %> and molecular/biochemistry data.
  </p>
  <%= render '/biofluids/shared/post_intro' %>
</div>

<h2>Condition of use:</h2>

<div class="well">
  <%= render '/biofluids/shared/cite_intro_sweat' %>
</div>



