<thead>
  <tr>
    <th><%= table_sort_link 'HMDBP ID', :hmdbp_id %></th>
    <th><%= table_sort_link 'Gene Name', :gene_name %></th>
    <th><%= table_sort_link 'Locus', :locus %></th>
    <th><%= table_sort_link 'Name', :name %></th>
    <th><%= table_sort_link 'Type', :protein_type %></th>
    <th>Metabolites</th>	
  </tr>
</thead>
