- jumps = ['Identification', 'Biological properties', 'Gene properties', 'Protein properties',
      'External Links', 'References' ]
#jumper.protein
  .section-jumps
    .btn-group.btn-group-sm
      - jumps.each do |section|
        = link_to section.humanize, "##{section}", class: 'btn-jump'
      = link_to "XML", protein_path(protein, format: :xml),
          target: '_blank', class: 'btn-jump'
      = link_to "Show #{pluralize(protein.metabolites.exported.count, 'metabolite')}",
          protein_metabolite_protein_links_path(protein),
          class: 'btn-jump'
