tr
  td= link_to protein.hmdbp_id, protein, class: 'btn-card'
  td= protein.gene_name
  td= protein.locus
  td: strong = protein.name
  td= protein.protein_type
  td
    = link_to pluralize(protein.exported_metabolites.length, 'metabolite'),
        protein_metabolite_protein_links_path(protein)
