.page-header: h1 = title 'Browsing Proteins'

= db_paginate @proteins
.table-responsive
  table#enzymes.table.table-striped.table-condensed
    = render 'proteins/header'
    tbody = render @proteins
= db_paginate @proteins
