.page-header
  h1= title "Entry #{@revocation.hmdbp_id} has been revoked"

table.table.table-bordered.table-condensed
  tbody
    tr
      th Name
      td: strong= @revocation.name
    tr
      th Accession Numbers
      td
        = @revocation.hmdbp_id
        - if @revocation.accession_numbers.present?
          | &nbsp; (#{@revocation.accession_numbers})
    - if @revocation.uniprot_id.present?
      tr
        th UniProt Id
        td =nah bio_link_out(:uniprot, @revocation.uniprot_id)
    tr
      th Revocation Comment
      td= @revocation.comment

#protein-meta Revoked on #{@revocation.created_at.to_s(:long)}
