<div class="page-header">
  <h1><%= title("Showing Protein #{@protein.name} (#{@protein.hmdbp_id})") %></h1>
</div>

<%- cache @protein, expires: 50.days do %>
  <%- protein = @protein_scope.take %>
  <%= render "/proteins/jumper", protein: protein %>
  <table class="content-table table table-condensed proteins">
    <%= table_header_divider "Identification" %>
    <tr>
      <th>HMDB Protein ID</td>
      <td><%= protein.hmdbp_id %></td>
    </tr>
    <tr>
      <th>Secondary Accession Numbers</td>
      <td><%= list(protein.accession_numbers, empty: 'None') %></td>
    </tr>
    <tr>
      <th>Name</td>
      <td><strong><%= protein.name %></strong></td>
    </tr>
    <tr>
      <th>Synonyms</td>
      <td>
        <%= list(protein.synonyms, list_type: :ol, empty: nah, list_options: { class: 'general' }) %>
      </td>
    </tr>
    <tr>
      <th>Gene Name</td>
      <td><%= nah protein.gene_name %></td>
    </tr>
    <tr>
      <th>Protein Type</td>
      <td><%= nah protein.protein_type%></td>
    </tr>

    <%= table_header_divider "Biological Properties" %>
    <tr>
      <th>General Function</td>
      <td><%= nah protein.general_function %></td>
    </tr>
    <tr>
      <th>Specific Function</td>
      <td><%= nah protein.specific_function %></td>
    </tr>
    <tr>
      <th>Pathways</td>
      <td>
        <%= list(protein.pathways.map(&:name), empty: nah, list_options: { class: 'general' }) %>
      </td>
    </tr>
    <tr>
      <th>Reactions</td>
      <% if protein.reactions.present? %>
        <td class='inner_table'>
          <% reset_cycle %>
          <table>
            <% protein.reactions.each do |reaction| %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td><%= reaction.to_s %></td>
                <td style="width: 60px">
                  <%= link_to 'details', reaction, class: 'btn btn-mini', target: '_blank' %>
                </td>
              </tr>
            <% end -%>
          </table>
        </td>
      <% else %>
        <td><%= nah %></td>
      <% end -%>
    </tr>
    <tr>
      <th>GO Classification</td>
      <td>
        <% if protein.go_classes.present? %>
          <table class="inner">
            <% current_category = nil %>
            <% protein.go_classes.each do |go_class| %>
              <% if current_category != go_class.category %>
                <% current_category = go_class.category %>
                <tr>
                  <th><%= go_class.category.titlecase %></th>
                </tr>
              <% end -%>
              <tr>
                <td style="padding-left: 1em"><%= go_class.description %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <%= nah %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Cellular Location</td>
      <td>
        <%= list(protein.subcellular_locations.map(&:name), :list_type => 'ol', :empty => nah) %>
      </td>
    </tr>

    <%= table_header_divider "Gene Properties" %>
    <tr>
      <th>Chromosome Location</td>
      <td><%= nah protein.chromosome_location %></td>
    </tr>
    <tr>
      <th>Locus</td>
      <td><%= nah protein.locus%></td>
    </tr>
    <tr>
      <th>SNPs</td>
      <td><%=nah bio_link_out(:snpjam, protein.genecard_id) %></td>
    </tr>
    <tr>
      <th>Gene Sequence</td>
      <td>
        <% if protein.gene_sequence.present? %>
          <pre><%= protein.gene_sequence.fasta_sequence %></pre>
        <% else %>
          <%= nah %>
        <% end %>
      </td>
    </tr>

    <%= table_header_divider "Protein Properties" %>

    <tr>
      <th>Number of Residues</td>
      <td><%= nah protein.num_residues %></td>
    </tr>
    <tr>
      <th>Molecular Weight</td>
      <td><%= nah protein.molecular_weight %></td>
    </tr>
    <tr>
      <th>Theoretical pI</td>
      <td><%= nah protein.theoretical_pi %></td>
    </tr>
    <tr>
      <th>Pfam Domain Function</td>
      <td>
        <%= list(protein.pfams, empty: nah, list_options: { class: 'general' }) do |pfam| %>
          <li><%= "#{pfam.name} (#{bio_link_out(:pfam, pfam.identifier)})".html_safe %></li>
        <% end -%>
      </td>
    </tr>
    <tr>
      <th>Signals</td>
      <td>
        <%= list(protein.signal_regions, empty: nah, list_options: { class: 'general' }) %>
      </td>
    </tr>
    <tr>
      <th>
         Transmembrane Regions
      </td>
      <td>
        <%= list(protein.transmembrane_regions, empty: nah, list_options: { class: 'general' }) %>
      </td>
    </tr>
    <tr>
      <th>Protein Sequence</td>
      <td>
        <% if protein.polypeptide_sequence.present? %>
          <pre><%= protein.polypeptide_sequence.fasta_sequence %></pre>
        <% else %>
          <%= nah %>
        <% end %>
      </td>
    </tr>

    <%= table_header_divider "External Links" %>

    <tr>
      <th>GenBank ID Protein</td>
      <td><%=nah bio_link_out(:genbank, protein.genbank_protein_id) %></td>
    </tr>
    <tr>
      <th>UniProtKB/Swiss-Prot ID</td>
      <td><%=nah bio_link_out(:uniprot, protein.uniprot_id) %></td>
    </tr>
    <tr>
      <th>UniProtKB/Swiss-Prot Entry Name</td>
      <td><%=nah bio_link_out(:uniprot, protein.uniprot_name) %></td>
    </tr>
    <tr>
      <th>PDB IDs</td>
      <td>
        <%= list(protein.pdb_id_list, empty: nah, list_options: { class: 'general' }) do |pdb_id| %>
          <li><%= bio_link_out(:pdb, pdb_id) %></li>
        <% end  %>
      </td>
    </tr>
    <tr>
      <th>GenBank Gene ID</td>
      <td><%=nah bio_link_out(:genbank, protein.genbank_gene_id) %></td>
    </tr>
    <tr>
      <th>GeneCard ID</td>
      <td><%=nah bio_link_out(:genecard, protein.genecard_id) %></td>
    </tr>
    <tr>
      <th>GenAtlas ID</td>
      <td><%=nah bio_link_out(:genatlas, protein.geneatlas_id) %></td>
    </tr>
    <tr>
      <th>HGNC ID</td>
      <td><%=nah bio_link_out(:hgnc, protein.hgnc_id) %></td>
    </tr>

    <%= table_header_divider "References" %>
    <tr>
      <th>General References</td>
      <td><%=nah full_reference_list(protein) %></td>
    </tr>
  </table>
<%- end %>
