= form_for @metabolomic_category do |f|
  - if @metabolomic_category.errors.any?
    #error_explanation
      h2 = "#{pluralize(@metabolomic_category.errors.count, "error")} prohibited this metabolomic_category from being saved:"
      ul
        - @metabolomic_category.errors.full_messages.each do |message|
          li = message

  .actions = f.submit
