tr
  th
    = table_sort_link 'Metabolite', :hmdb_id
  - if @type == "BmiLink"
    th BMI
  - elsif @type == "GenderLink"
    th Sex
  - elsif @type == "AgeLink"
    th Age
  - elsif @type == "GenoLink"
    th SNP ID
  - elsif @type == "PharmacoLink"
    th DrugBank ID
  - elsif @type == "DiurnalLink"
    th Description
  - if @type == "GenoLink"
    th Genotype
  - elsif @type == "PharmacoLink"
    th Drug Name

  th
    = table_sort_link 'Effect', :effect
  th Biofluid
  th P-Value
  th Reference