- biofluid ||= nil
- biofluid_cache_key = biofluid || 'all'
- cache [metabolomic_category, biofluid_cache_key.parameterize, 'biofluid-locations-list'] do
  tr
    td.metabolite-link
      ' #{link_to metabolomic_category.metabolite.name, main_app.metabolite_path(metabolomic_category.metabolite)}
      ' (#{link_to metabolomic_category.metabolite.hmdb_id, main_app.metabolite_path(metabolomic_category.metabolite)})
    td
      - if @type == "BmiLink"
        = metabolomic_category.bmi
      - elsif @type == "GenderLink"
        = metabolomic_category.sex
      - elsif @type == "AgeLink"
        = metabolomic_category.age
      - elsif @type == "GenoLink"
        = metabolomic_category.snp_id
      - elsif @type == "PharmacoLink"
        = bio_link_out :drugbank, metabolomic_category.drugbank_id
      - elsif @type == "DiurnalLink"
        = metabolomic_category.description
    - if @type == "GenoLink"
      td
        = metabolomic_category.genotype
    - elsif @type == "PharmacoLink"
      td
        = metabolomic_category.drug_name
    td
      = metabolomic_category.effect
    td
      = metabolomic_category.biofluid_source
    td
      = metabolomic_category.p_value
    td
      = metabolomic_category_table_references(metabolomic_category)
    td
      = link_to_metabolomic_category_details(metabolomic_category)