ul.list-unstyled
  - metabolomic_category.articles.each do |article|
    li
      = bio_link_out :pubmed, article.pubmed_id, nil,
          title: article.citation, class: 'tips'
  - metabolomic_category.textbooks.each do |textbook|
    li
      - if textbook.isbn.present?
        = bio_link_out(:open_isbn, textbook.isbn)
      - else
        span.tips title=textbook.title
          = truncate(textbook.title, length: 20)
  - metabolomic_category.external_links.each do |external_link|
    li
      span.tips title=external_link.name
        = bio_link_to(truncate(external_link.name, length: 15), external_link.url)