.page-header: h1 = title('Browsing '+@type.gsub("Link","")+' Metabolomic Data')

= render '/metabolomic_categories/metabolomic_category_details_modal'

= db_paginate @metabolomic_categories
.table-responsive
  table.table.table-striped.table-condensed.table-hover
    thead
      = render 'header'
    tbody
      = render partial: "metabolomic_categories/metabolomic_category", collection: @metabolomic_categories, as: :metabolomic_category
= db_paginate @metabolomic_categories
