.modal-header
  button.close aria-hidden="true" data-dismiss="modal" type="button"  &times;
  h4.modal-title Link Details
.modal-body
  dl.dl-horizontal
    dt Metabolite
    dd = bio_link_out :hmdb, @metabolomic_category.metabolite.hmdb_id, 
          @metabolomic_category.metabolite.to_s, target: '_blank'
    - if @metabolomic_category.type == "BmiLink"
    	dt BMI
    	dd = nah @metabolomic_category.bmi
   	- elsif @metabolomic_category.type == "AgeLink"
   		dt Age
    	dd = nah @metabolomic_category.age
	- elsif @metabolomic_category.type == "GenderLink"
   		dt Sex
    	dd = nah @metabolomic_category.sex
    - elsif @metabolomic_category.type == "GenoLink"
   		dt SNP ID
    	dd = nah @metabolomic_category.snp_id
    	dt Genotype
    	dd = nah @metabolomic_category.genotype
    	dt Chromosome
    	dd = nah @metabolomic_category.chromosome
    	dt Chromosome Position
    	dd = nah @metabolomic_category.chromosome_position
    - elsif @metabolomic_category.type == "DiurnalLink"
   		dt Description
    	dd = nah @metabolomic_category.description
   	- elsif @metabolomic_category.type == "PharmacoLink"
   		dt DrugBank ID
   		dd = nah bio_link_out :drugbank, @metabolomic_category.drugbank_id
    	dt Drug Name
    	dd = nah @metabolomic_category.drug_name
    dt Effect
    dd = nah @metabolomic_category.effect
    dt Biofluid
    dd = @metabolomic_category.biofluid_source
    dt P-value
    dd = nah @metabolomic_category.p_value
    dt Beta Estimator
    dd = nah @metabolomic_category.beta_estimator
    dt Percent Change
    dd = nah @metabolomic_category.percent_change
    dt Pearson Correlation Coefficient
    dd = nah @metabolomic_category.pearson_correlation_coefficient
    dt Comments
    dd = nah @metabolomic_category.comment

    - if @metabolomic_category.has_references?
	  	h5 References
	  	ul.list-unstyled
	    	= nah full_reference_list(@metabolomic_category)


.modal-footer
  button.btn.btn-default data-dismiss="modal" type="button" Close