<div class="well">
  <p>
    <%= image_tag 'hmp_logo.png', class: 'pull-left hmp-logo' %>
    The Serum Metabolome database is a freely available electronic
    database containing detailed information about  
    <%= link_to "4651 small molecule metabolites", biofluid_app.metabolites_url %>
    found in human serum along with
    <%= link_to "10895 concentration values", biofluid_app.concentrations_url %>. The
    data tables may be sorted and searched by concentration values and ranges.
    The information includes literature and experimentally derived chemical
    data, clinical data and molecular/biochemistry data. Each MetaboCard entry
    contains more than 
    <%= link_to "110 data fields", biofluid_app.explain_url %>
    and many of them are hyperlinked to
    <%= link_to "other databases", wishart.databases_url %>
    (KEGG, PubChem, MetaCyc, ChEBI, PDB, Swiss-Prot, and
    GenBank).
  </p>
  <%= render '/biofluids/shared/post_intro' %>
</div>

<h2>Please cite:</h2>

<div class="well">
  <%= render '/biofluids/shared/cite_intro' %>
  <ol>
    <li>
      Psychogios N, Hau DD, Peng J, Guo AC, Mandal R, Bouatra S, Sinelnikov I,
    Krishnamurthy R, Eisner R, Gautam B, Young N, Xia J, Knox C, Dong E, Huang
    P, Hollander Z, Pedersen TL, Smith SR, Bamforth F, Greiner R, McManus B,
    Newman JW, Goodfriend T, Wishart DS. <i><a style="text-decoration: none"
        href="http://www.ncbi.nlm.nih.gov/pubmed/21359215">The human serum
        metabolome</a>. PLoS One. 2011 Feb 16;6(2):e16957</i>.
    </li>
  </ol>
</div>
