- load_biofluid if @biofluid.blank?
doctype html
html
  head
    - if BIOFLUID_CONFIG[@biofluid]["tracker"].nil? || BIOFLUID_CONFIG[@biofluid]["url"].nil? 
      raise "Biofluid tracker and url needs to be defined in 'config/biofluid_apps.yml'" 
    = ::NewRelic::Agent.browser_timing_header rescue ""

    link href=asset_path('favicon.png') rel= "icon" type= "image/png"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
    title = content_for?(:title) ? "#{@biofluid_name} Metabolome: #{yield(:title)}" : "#{@biofluid_name} Metabolome"
    = stylesheet_link_tag "application", media: 'all', 
        "data-turbolinks-track" => true
    = javascript_include_tag "application", media: 'all', 
        "data-turbolinks-track" => true
    = render '/layouts/shared/ie'    
    = analytics_init(tracker: BIOFLUID_CONFIG[@biofluid]["tracker"],
                     domain: BIOFLUID_CONFIG[@biofluid]["url"]) if Rails.env.production?
    = csrf_meta_tags
  body[class="#{params[:controller].parameterize.dasherize}-c \
              #{params[:action].parameterize}-a"
       data-c=params[:controller].parameterize 
       data-a=params[:action].parameterize]
    header == render 'layouts/biofluid/navigation'
    = render_tmic_banner
    main role="main"
      == render_wishart_notices
      == render '/layouts/biofluid/messages'
      == yield
    footer 
      = wishart_support
