<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'> 
  
  <%= ::NewRelic::Agent.browser_timing_header rescue "" %>
  <% title = yield(:title) %>
  <title><%= title.present? ? "HMDB: #{title}" : 'HMDB' %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <div id="body-content" style="height: 500px">
    <%= image_tag 'hmp_logo.png', :style => "float: right; margin-left: 1em;" %>
    <h1 class="title">Human Metabolome Database <span style="font-size: 12px; color: #4D4D4D;">Version <%= Rails.application.config.version %></span></h1>

    <%= yield %>
  </div>

  <div id="footer">
    <%= render '/layouts/footer' %>
  </div>
  
  <%= ::NewRelic::Agent.browser_timing_footer rescue "" %>
</body>
</html>
