doctype html
html
  head
    link href=asset_path('favicon.png') rel= "icon" type= "image/png"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
    title = content_for?(:title) ? "#{app_name}: #{yield(:title)}" : app_name
    = stylesheet_link_tag "application", media: 'all', 
        "data-turbolinks-track" => true
    = javascript_include_tag "application", media: 'all', 
        "data-turbolinks-track" => true
    = render '/layouts/shared/ie'        
    = analytics_init if Rails.env.production?
    = csrf_meta_tags
  body[class="#{params[:controller].parameterize.dasherize}-c \
              #{params[:action].parameterize}-a"
       data-c=params[:controller].parameterize 
       data-a=params[:action].parameterize]
    header == render 'layouts/hml/navigation'
    main role="main"
      == render_wishart_notices
      == render '/layouts/hml/messages'
      == yield
    footer
      = wishart_support
      | #{app_name} Version <strong>#{Rails.application.config.version}</strong> 
      | &mdash; #{link_to 'Contact Us', wishart.contact_path, 'data-no-turbolink' => true}
