<div class="well">
  <p>
    <%= image_tag 'hmp_logo.png', class: 'pull-left hmp-logo' %>
    The Saliva Metabolome database is a freely available electronic database 
    containing detailed information about many
    <%= link_to "small molecule metabolites", biofluid_app.metabolites_url %> found 
    in human saliva and many
    <%= link_to "concentration values", biofluid_app.concentrations_url %>.
    Each metabolite entry contains more than
    <%= link_to "110 data fields", biofluid_app.explain_url %>
    and many of them are hyperlinked to 
    <%= link_to "other databases", wishart.databases_url %> (KEGG, PubChem, ChEBI, Chemspider, DrugBank, PDB and  Uniprot). The information includes literature and experimentally derived chemical 
    data, <%= link_to "clinical data", biofluid_app.diseases_url %> and molecular/biochemistry data.
  </p>
  <%= render '/biofluids/shared/post_intro' %>
</div>

<h2>Please cite:</h2>

<div class="well">
  <%= render '/biofluids/shared/cite_intro' %>
  <ol><li>Dame, Z. T., Aziat, F., Mandal, R., Krishnamurthy, R., Bouatra, S., Borzouie, S., et al. (2015).<i> The human saliva metabolome.</i> Metabolomics, 11, 1864–1883. doi: 10.1007/s11306-015-0840-5 </li>
  </ol>
</div>

